[2016-12-17 00:11] durch opened #5 "Update openssl to 0.9.*"
Due to breaking changes in `hmac` and `hash` functions in `openssl` version newer than `0.7.14`, we are stuck to that version, this also means `curl` is stuck.

If anyone wants to take a stab at this, they are more than welcome :)

[2016-12-23 16:38] durch commented on #5
No longer relevant

[2016-12-23 16:38] #5 closed

[2017-01-03 18:30] nastevens opened #8 "Requests failing with 403 error"
As of today, requests that were working before (such as the simple_crud example) are now failing with 403 errors. The following is an example of the output I'm seeing:

[code]

It's possible, since the issue seems to be somewhat related to the turn of the year.

[2017-01-03 19:20] #8 closed

[2017-02-23 11:42] mitsuhiko opened #10 "Stream Downloads"
Currently the library only supports downloading into a vector. I have some large files I want to write directly to at the least the file system or better, pipe it into a `XzDecoder`. I do not see a good way to make this work at the moment.

Ideally there is a `fn get_stream` which returns an iterator or a file you can read from.

[2017-03-05 22:18] durch commented on #10
I'll look into it, can't really promise anything, but it could make for an interesting implementation, @mitsuhiko would you like to take a stab at it :)

[2017-06-25 10:48] deg4uss3r opened #14 "List function failing deserialization"
Just doing a list to see if a file (directory exists), both are at the root level:

* `let (list, code) = bucket.list("user/", Some("/")).unwrap();` - This directory exists on the bucket
* `let (list, code) = bucket.list("test/", Some("/")).unwrap();` - This one does not

Appears AmazonS3 responses may have changed[1].

When attempting to list a directory that doesn't exist:
[code]
When attempting

[2017-06-25 18:01] deg4uss3r commented on #14
@bmeu pull request appears to address this.

[2017-06-25 18:01] #14 closed

[2017-08-03 10:23] golddranks commented on #10
I, too would be happy about that kind of functionality :)

[2017-08-03 10:27] ford-prefect commented on #10
fwiw, I ended up adding this to Rusoto in this PR -- https://github.com/rusoto/rusoto/pull/627

[2017-08-03 10:46] durch commented on #10
@golddranks well I can promise I'll look into it :), but can't commit to a timeline. @nastevens  is this something you'd have an interest in implementing?

[2017-09-07 04:06] golddranks opened #18 "0.6.2 contained breaking changes and should be yanked."
The dependency update published in 0.6.2 contains multiple breaking changes. 0.6.2 should be yanked, and 0.7.0 released instead.

Here are the breaking changes I noticed (there may be others):
* `chrono` 0.2 was updated to 0.4. This breaks the `DateTime` types used in the API of this crate.
* `hmac` and `sha2` both depend on `generic-array`, and they were bumped to 0.8. It seems that even though t

[2017-09-07 08:57] durch commented on #18
Yanked and pushed 0.7.0, @golddranks thank you for the report, and sorry for the trouble, it was a misstep on my part :(

[2017-09-07 08:57] #18 closed

[2017-09-07 08:59] golddranks commented on #18
No problem, thanks for fast support!

[2017-09-13 06:44] golddranks opened #22 "Rework the API to use facade pattern"
The code of this crate is nicely split up into modules, but each module implementing just one thing, the docs and paths, that is, the outward-facing API is a bit awkward. There isn't a lot of types, so it would make sense to regroup them into larger units, and possibly expose them directly at root.

Facade pattern would help with this: the modules would be private to the crate, and the root module

[2017-09-15 19:23] durch commented on #22
@golddranks I like the suggestion, I'd have tom dive in the code (and have not been there for some time), but it would be refreshing, maybe aim for a `0.8` or a `0.9` release... Thoughts?

[2017-09-15 20:53] thanatos opened #24 "Unable to list bucket contents"
I'm attempting to list a bucket contents; however, `Bucket::list` doesn't handle AWS's pagination, so the results are truncated. This seems to be intentional, though as a library consumer, I would really love to not need to implement pagination myself.

However: even aware of this, `Bucket::list` doesn't take a marker for an argument, so there's no good way to get latter pages of data. We can use

[2017-09-15 22:27] durch commented on #24
@thanatos Thank you for a very detailed report, I've just pushed an update to the `dev` branch, `bucket::list()` now automatically paginates and gets you all results in a `S3Result<Vec<(ListBucketResult, u32)>>`, which you can unpack as:

[code]

Each `ListBucketResult` holds a 1000 keys at most.

This will be pushed to Cargo today as `0.8`.

Thanks once again, looking forward to more feedback :)

[2017-09-15 22:32] #24 closed

[2018-01-24 20:10] Phrohdoh opened #26 "Implement loading credentials from profiles"
https://github.com/durch/rust-s3/blob/2f684e28b8750fb9b5ea44572c95935d918d73f7/src/credentials.rs#L11-L13

[2018-01-24 22:09] #26 closed

[2018-01-24 22:12] durch commented on #26
@Phrohdoh thanks for the kick, version `0.9` pushed to [crates.io](https://crates.io/crates/rust-s3)

[2018-01-24 23:08] Phrohdoh commented on #26
Awesome, thank you so much! 😄

[2018-03-02 21:19] LeopoldArkham opened #27 "Does not recognize region eu-west-3"
Hello,
The crate does not seem to be aware of of the `eu-west-3` region which is what the paris one is called.

[2018-03-12 15:53] durch commented on #27
@LeopoldArkham pushed a fix, would be grateful for a quick test :)

[2018-03-13 01:33] #27 closed

[2018-03-13 14:20] #22 closed

[2018-03-30 20:03] mbeattie opened #29 "Support alternate S3 endpoints"
It would be nice to be able to feed it a custom URL for the S3 endpoint. That way this could be pointed at something like Ceph or Cleversafe.

The way it is now, I need to edit the region.rs and add custom endpoints there that get referenced via region.

[2018-03-30 20:20] mbeattie opened #30 "Allow disable of ssl verification"
It would be nice to be able to disable SSL verification. There are situations in an internal corporate environment with proxies or alternate S3 implementations that either perform MITM attacks or just have self signed certificates and it would be nice to have an option to just blindly accept these scenarios.

My current solution is a monkey patch on request.rs to add `handle.ssl_verify_peer(false)

[2018-03-31 11:55] durch commented on #30
@mbeattie added a `no-verify-ssl` feature flag, you can get the `beta` version and try it out. I did not yet have a chance to test this, so feedback would be very useful :). Just add the `beta` version to your dependancies:

[code]

[2018-03-31 11:57] durch commented on #29
@mbeattie a `Custom(String)` field to the `Region` enum, you can pass in the fully qualified endpoint there and it should work for any arbitrary URL. Like for #30 did not test so all feedback is very appreciated, its available in `0.10.0-beta.0`:

[code]

[2018-04-04 18:32] #30 closed

[2018-04-04 18:32] #29 closed

[2018-12-30 05:41] infinite-Joy opened #35 "is there a way to get the region from the bucket instead of passing it."
aws has an implementation

    aws s3api get-bucket-location --bucket <bucketname>

[2018-12-30 10:43] durch commented on #35
@infinite-Joy great request, should be implemented in a day or two :)

[2018-12-30 14:54] durch commented on #35
Seems like I spoke too soon, in order to authorise the request the region must be know, one thing I'm considering doing is brute-forcing a region, however that is not really ergonomic or friendly :/

[2018-12-30 14:54] #35 closed

[2019-05-08 18:55] blakesmith commented on #10
@durch I need to add S3 to a Rust project of mine, and streaming upload / download is going to be important. I've looked at [rusoto](https://github.com/rusoto/rusoto), but prefer blocking IO via a `Read` and `Write` interface in the context I'm working in. A full on Future / Stream / tokio setup just doesn't make sense.

My plan was to use your library as a starting point, fork, and add streaming

[2019-05-08 21:19] durch commented on #10
Absolutely, last time I looked into this it seemed like too much of a hassle without a defined use case. Sounds like you have one, and I'd be more than happy to take the patch and help as needed :)

[2019-06-30 19:54] dima74 opened #40 "Stream uploads"
Similar to #10, but for uploads.

[2019-07-04 08:45] #10 closed

[2019-07-31 14:27] Farkal opened #43 "async call"
I am trying to create a stream server with actix-web.
So when an user is visiting a page i need to make a request to my s3 and send him the result.
But i get an `S3Error(Reqwest(Error(BlockingClientInFutureContext, "http://localhost:9000/mybucket/")), State { next_error: None, backtrace: None })`.
I think it's because the lib doesn't use async reqwest client. Is there any plan to return future ?

[2019-08-02 14:24] durch commented on #43
For sure, it been on a fuzzy roadmap, I'll try and back a beta version do for you to test

[2019-08-04 21:42] durch commented on #43
@Farkal , made a quick and dirty implementation for getting objects, I'd appreciate if you'd let me know if it addresses the issues you've been having.`get_object_async` and `get_object_stream_async` are new methods on the `Bucket` struct. You can pull `v0.16.0-alpha` from crates.io and test it out.

[2019-08-11 22:31] nastevens opened #45 "Convert URL from "path-style" to "subdomain-style""
Amazon AWS is deprecating "path-style" access to S3 buckets, as detailed [in this blog post](https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/). Prior to the sunset in September 2020, the rust-s3 URL handling logic will need to be updated to use "subdomain style".

[2019-08-20 07:44] jscheid opened #46 "Return reqwest response as-is"
Hi, thanks for this crate. I have a small feature request: currently, `Request::execute` can either write the response body to a writer or return it as a blob. It would be useful if, as a third option, it could return the response as-is. This would allow "pull" streaming the response - ie. reading from it.

[2019-08-22 18:30] durch commented on #46
@jscheid just published `0.16.0-alpha2` to crates.io. It expose a `request.send()` method which returns `impl Future<Item=Response, Error=S3Error>`. Let me know if that is what you're after.

[2019-08-25 19:05] #43 closed

[2019-09-02 19:51] sseemayer opened #47 "Async version of `list` command?"
I'm trying to use `rust-s3` in a method returning a Future to asynchronously get data from an S3 bucket and am currently using version `0.16.0-alpha2`. Using `get_object_async` is already working fine for me, however, I would now like to list the contents of the Bucket to download further objects in the same async function. However, if I call `mybucket.list`, it seems that the list method is not c

[2019-09-02 20:38] durch commented on #46
Reworked the async interface to be a bit more ergonomic, I'd suggest you take a look at `0.17.0-beta`, getting the future directly is supported quite nicely now.

[2019-09-02 20:38] #46 closed

[2019-09-02 20:46] durch commented on #47
@sseemayer I'm glad you found this useful! I took a quick look at the code. For legacy reasons `list` seems to be using a slightly different code path, I need to unify that anyway, which should get you the async version pretty much for free. I'll keep you posted :)

[2019-09-03 00:11] jscheid commented on #46
Awesome, thanks!

[2019-09-03 14:57] durch commented on #47
@sseemayer I did a bunch of breaking changes, not all of them related to this issue, version `0.18.0-beta` adds `Bucket` methods `list_all_async` and `list_page_async`  which should get you what you need. Please also note that the returned types of all `*_async` commands are now just a single `future`, which should be more pleasant to use. Let me know if it works out :)

[2019-09-03 20:52] sseemayer commented on #47
This looks excellent, thank you very much! I almost got my use case working already but am still debugging some compile errors on my end.

Context: I am using rust-s3 within an actix-web application. I am writing a moderately-complex route handler that will pull together information from an S3 bucket consisting of several objects, process them and return views into the processed data. I'm still do

[2019-09-04 08:50] durch commented on #47
For sure, very happy to help, always interested in more usage :). I’d be happy to take a look at the code your working on, maybe I can help, if the code is something you can share that is :)

[2019-09-05 18:06] sseemayer commented on #47
OK, I've tried now for a while but am not sure if there is a way to get this to work without altering `rust-s3`. Here is my minimal example:

[code]
I need to return a `Future` that is also `Send` because I want to return it to an actix-web route handler. The code above refuses to compile with the following longish error message:

[code]

if it's any use, `Error` is `failure::Error`. It looks like

[2019-09-06 13:17] durch commented on #47
Taking a look, lets see how far I can get just adding `Send` to return futures

[2019-09-06 15:21] durch commented on #47
@sseemayer got it to work, I've had to fiddle around with errors a bit, definitely need to take another pass at that code, and likely get rid of `snafu`. It is also a bit over-specified at the moment, but it should get you what you need. Let me know how it goes :)

version `0.18.0-beta1` pushed to crates.io

[2019-09-06 19:17] sseemayer commented on #47
After spending some hours fighting with rustc and conflicting lifetime errors in a Futures context, I am giving up for today and will spend some more time tomorrow to come up with a minimal example to share.

[2019-09-07 07:42] sseemayer commented on #47
Here is [a minimal project combining actix-web and rust-s3](https://github.com/sseemayer/actix-rust-s3-experiment). Note that there is an `index_list` route handler commented out that encompasses my best efforts of getting a Future response based on `bucket.list_all_async` working.

If I understand correctly, the problem is that `list_all_async` will return a future whose lifetime is the same as t

[2019-09-08 20:26] durch commented on #47
Fudged with lifetimes a bit, peppered clones all over the place, not very happy about that, but it'll do for now. Published `0.18.0-beta2`.

You're right about the lifetime issue, as it was defined explicitly in the function definition, I've just defined it as an anonymous lifetime on the return value, so it should solve the issue.

You're dead on about the `Error`, I just threw it in there for no

[2019-09-13 19:43] sseemayer commented on #47
I figured out how to get it working with a small change - see #49 and the working example https://github.com/sseemayer/actix-rust-s3-experiment

[2019-09-16 19:23] durch commented on #47
@sseemayer thank you! Very happy we got this to behave :) ! Published `0.18.0-beta3` to crates.io. I'll do some cleanup and get this out of beta in the coming weeks.

[2019-09-16 20:18] sseemayer commented on #47
Thanks to you! I'm closing the issue since this is all that I needed :)

[2019-09-16 20:18] #47 closed

[2019-09-17 19:22] urothis opened #50 "Possible mispelling?"
https://github.com/durch/rust-s3/blob/e5aef2d0e11bf8e434c586b393915257c09c6df1/src/request.rs#L36

`
Error: BucketPut { source: RequestError { source: ReqwestFuture } }
`

Newer to rust, and wanted to confirm if this misspelling was intentional or possibly related to the issue above.

[2019-09-19 05:09] durch commented on #50
Hi @urothis, are you hitting an issue with BucketPut? It should not be connected with the error name, but one never knows. The above is not a misspelling, the crate name is actually [reqwest](https://docs.rs/reqwest/0.9.20/reqwest/).

Which version of the crate are you using? It would also be helpful to see the code that is producing the error.

[2019-09-23 03:18] kpcyrd opened #51 "Fails with wasabi s3 storage"
I'm trying to use rust-s3 to talk to the wasabi object storage, unfortunately I'm getting a http 400 reply with an empty response body. Also rust-s3 is having issues with the empty response and reacts like this:

[code]

This is with 0.15.0, using this config (edited into src/bin/simple_crud.rs):
[code]

I've tested both `list` and `put`, both of them fail in the same way.

[2019-09-23 13:21] durch commented on #51
@kpcyrd thanks for raising this, I'll take a look and report back.

[2019-09-23 16:15] durch commented on #51
Looking at their API docs, it seems they always use `us-east-1` as region, it would be great if you could test this snippet with `us-east-1` as the region_name. I'm playing this by ear for now, based on the API docs ->https://wasabi.com/wp-content/themes/wasabi/docs/API_Guide/index.html#t=topics%2FAuthenticating_Requests.htm%23XREF_37390_Authenticating

[2019-09-24 07:27] kpcyrd commented on #51
It seems I've specified the endpoint incorrectly, it should've been `https://s3.eu-central-1.wasabisys.com`. It does work correctly now, sorry for the noise.

[2019-09-24 07:27] #51 closed

[2019-09-25 17:43] durch commented on #51
No worries, super happy it works!

[2019-09-25 17:45] durch commented on #50
Closing for lack of activity, let me know if I can help

[2019-09-25 17:45] #50 closed

[2019-10-01 23:30] slimm609 opened #52 "ec2 instance role support"
I was trying to see if there was support for ec2 instance roles via the instance metadata?

[2019-10-01 23:41] nbari opened #53 "no method named `list` found for type `std::result::Result<s3::bucket::Bucket, s3::error::S3Error>` in the current scope"
Hi, by following the examples, I do can get objects:

    let (data, code) = bucket.get_object("/test.file").unwrap();
    println!("Code: {}\nData: {:?}", code, data);

But can't list the contents of the bucket, I get this error:

    no method named `list` found for type `std::result::Result<s3::bucket::Bucket, s3::error::S3Error>` in the current scope

I am testing with:

I am using `rust-s3 =

[2019-10-02 10:41] durch commented on #53
From the error it looks like you're trying to call `list` from the `Result` that wraps the `Bucket`.

This [link](https://durch.github.io/rust-s3/s3/bucket/struct.Bucket.html#method.list) will take you to the code example for listing a bucket. I hope it gets you what you need :)

[2019-10-02 10:44] durch commented on #52
Hi @slimm609 not at the moment unfortunately, I'll see if I can squeeze it in in the next few days, not sure how complex reading the instance metadata is...

[2019-10-11 04:46] durch commented on #53
Closing for lack of activity.

[2019-10-11 04:46] #53 closed

[2019-10-19 07:49] durch commented on #52
@slimm609 started on implementing this, should be done fairly quickly

[2019-10-19 20:39] durch commented on #52
@slimm609 version 0.18.1-beta pushed to crates.io, in case you'd like to test it

[2019-10-23 09:27] Geal opened #54 "presigned urls support"
hello, is there any plan to generate presigned urls for arbitrary operations (get, put, etc)? Also, the readme mentions that the `put` operation returns a presigned url, but I get an empty vec instead, is it a common issue?

[2019-10-24 16:19] kallisti5 opened #55 "0.18.0 Infinite hang on list_all with Custom Region."
Using the rust-s3 create (0.18.0), the Bucket::list_all hangs indefinitely using wasabi (or any) custom endpoint.

[code]

[2019-10-24 16:22] kallisti5 commented on #55
Here's an strace from the hang:
[code]

And this app's dependencies:
[code]

[2019-10-24 16:33] kallisti5 commented on #55
I downgraded to 0.15.0, and it appears to be working:
[code]

[code]

[2019-10-24 16:35] kallisti5 commented on #55
On 0.18.0:
[code]

[2019-10-25 13:08] durch commented on #55
@kallisti5 thanks for the report I'll look right into that, as its broken in `0.18` I suspect it has something to do with paging, namely `0.15` version just returns the first page of the list, which is likely enough for most buckets.

I'll be looking into this, in the meantime I'll push a version that will make `list_page` function public, which should be identical to the `list` function in 0.15.

[2019-10-25 13:09] durch commented on #54
@Geal thank you for submitting this, its quite embarrassing as the presigned URLs are the cause I built this lib, I'll look int this right away, will keep you posted!

[2019-10-28 08:51] durch commented on #55
version 0.18.2-beta is live, it exposes the `list_page` `Bucket` method.

[2019-10-28 21:33] durch commented on #55
@kallisti5 version 0.18.3 has been published to crates.io, it provides a fix for the issue you've encountered. Once again, thank you for reporting it!

[2019-10-28 21:50] #52 closed

[2019-10-28 21:50] #55 closed

[2019-11-18 20:14] cutler-scott-newrelic opened #57 "AWS Session Tokens not loaded from .credentials file"
When relying on loading a Credentials object from a specific profile, you should include the token as well if it is present within the .credentials file. For example, this is the format of my credentials file. aws_session_token and aws_security_token are both the same value. This format works with the current AWS S3 CLI, but I get an access denied when it's processed by this library.

[code]

[2019-11-19 13:49] Jonathas-Conceicao opened #58 "Plans for moving to std::future"
Are there any current plans into moving to std::future or future 0.3? async/await has recently landed on stable build and both tokio and reqwest have alpha builds porting code to new futures model.

[2019-11-22 20:41] durch commented on #58
@Jonathas-Conceicao yeah it's on a tentative roadmap for q1 or q2, I'm for the ecosystem to mature a bit. I'd be happy to take a PR and publish a beta version with async/await :)

[2019-11-22 20:43] durch commented on #57
@cutler-scott-newrelic  thank you for the report, I'll carve some time to implement over the weekend hopefully :)

[2019-11-29 16:33] durch commented on #57
@cutler-scott-newrelic version `0.18.5` will be pushed to `crates.io` today, it should pull tokens from the file correctly

[2019-11-29 16:33] #57 closed

[2019-11-29 17:35] cutler-scott-newrelic commented on #57
Awesome, thank you very much!

[2019-12-04 21:44] kallisti5 opened #60 "Generic errors broken"
Upgrading from 0.18.3 to 0.18.5 resulted in broken error boxing.
[code]

Full code context is here. Just a simple Box<Error>

https://github.com/haiku/hpkgbouncer/blob/master/src/routecache/mod.rs#L184

[2019-12-09 15:13] durch commented on #60
@kallisti5 thank you for the report, version `0.18.6` pushed to crates.io, it adds `impl Error for S3Error` .

[2019-12-09 15:13] #60 closed

[2019-12-10 13:10] durch commented on #58
You can now track this progress over at #61 .

[2019-12-21 12:16] bn3t opened #62 "Credentials::default() hangs forever when no credentials exist - 0.18.6"
On a new computer where I have no credential setup for AWS when I call Credentials::default(), it hangs forever until a timeout. I've debugged the problem to the fact that it tries a request to http://169.254.169.254/latest/meta-data/iam/info. This service does not exist for us and it does not work.

[2019-12-22 15:58] durch commented on #62
@bn3t thank you for the report, will look into failing more gracefully for that case. That timeout is caused by trying to get the credentials from the metadata service on an EC2 instance.

[2019-12-25 22:38] sidshank commented on #54
Hello. Any updates on this? I’m curious about capabilities around pre-signed URLs too. Specifically, I'd like to get pre-signed URLs for pre-existing objects in the bucket too!

[2019-12-26 02:03] volfco opened #63 "download file results in extra/invalid data"
I've tried to download a binary file from s3. Here's my following code:
[code]
but this code has the same error:
[code]

This file is exactly 3072 bytes, generated using this command:
[code]

When I run my program, I get 5535 bytes back. Or, the output from the 1st code snippet:
`got 5535`. I'm expecting exactly 3072 bytes back. I'm not sure where the extra cruft is coming from, but this is causin

[2019-12-26 10:49] durch commented on #62
@bn3t added a check for the ec2 uuid, this should fail instantly on a non ec2 machine when no credentials are available, version 0.18.7 published to `crates.io`

[2019-12-26 10:51] #62 closed

[2019-12-26 12:15] durch commented on #63
@volfco Thanks for bringing this up, I did some digging and it seems that the problem is in encoding of non ASCII bytes, these get mangled during download. So it's a bug for sure, I'm just not sure where exactly

[2019-12-26 14:57] volfco commented on #63
@durch if I read your code correctly, you're using `response.text()` in Reqwest. Reading the docs, this is trying to UTF-8 encode the content. I think you should be using `response.copy_to` (https://docs.rs/reqwest/0.8.6/reqwest/struct.Response.html#method.copy_to) which will copy the raw body as binary- which shouldn't mangle the file.

Let me see if I can whip up a proof of concept

[2019-12-26 21:04] durch commented on #63
@volfco exactly right, I remember going for the easy implementation at first, and thinking I should go back and fix that, and of course I did not. Version 0.18.8 pushed to crates.io, with additional tests in `simple_crud`.

[2019-12-26 21:06] #63 closed

[2019-12-26 21:20] volfco commented on #63
@durch this works for me now. Thanks for the quick fix!

[2019-12-29 15:36] bn3t commented on #62
Hi, now it panics. I find it not so ideal. Do you think you could make Credentials::new() return a S3Result? Wouldn't it be cleaner?

[2019-12-30 08:46] kenkoooo opened #66 "no longer usable in ECS"
Hi, I was using `rust-s3` in the Elastic Container Service, but by #64, it became available only in EC2. Shall we allow to use it also in other services?

[2019-12-30 08:49] kenkoooo commented on #66
I misunderstood the AWS architecture. Sorry. Never mind.

[2019-12-30 08:49] #66 closed

[2019-12-30 09:17] kenkoooo opened #67 "Crash with "Not an EC2 instance", even in EC2"
Hi, I found it sometimes crashes with "Not an EC2 instance", even in EC2 instances.

According to https://github.com/scylladb/scylla/commit/2a4ba883c8e9c3351ff69064bb4d09954ff001c4#diff-23bb822fd3271daf086e185150f31517, it's because some EC2 instances don't have `/sys/hypervisor/uuid`, but have `/sys/class/dmi/id/board_vendor`.

[2019-12-30 09:32] kenkoooo commented on #66
I wrote about my real issues in #67 .

[2020-01-01 16:51] #67 closed

[2020-01-01 16:55] durch commented on #54
@sidshank this turned out to be more broken than expected, looking at my schedule I should be able to push a fix through by the end of the month, a bit later than I would have liked... Thank you for the patience

[2020-01-14 13:25] vasilakisfil opened #71 "Stockholm region is missing"
The new Stockholm region is missing from Region enum (it's eu-north-1). Thankfully we have the custom variant.

[2020-01-14 13:43] vasilakisfil commented on #71
Also this https://github.com/durch/rust-s3/blob/d6d43ac31cad39651e254911d6f4300bda9113a4/src/region.rs#L131 should fail. If  you try to parse an unknown region it should completely fail. Instead you should manually create the Region using a region and an endpoint string (as the docs suggest).

[2020-01-24 23:49] #71 closed

[2020-02-28 14:46] leocavalcante opened #72 "Async version of put_object"
Can this be considered?

[2020-03-08 17:27] durch commented on #72
Yes, should not be a big deal, will update the issue as it happens. Thanks for submitting

[2020-03-08 17:33] leocavalcante commented on #72
Awesome, thank you!

For now, those who ended up here and are looking for a workaround, `tokio::task::spawn_blocking` should do the trick (trade-off, its a 500 threads pool, not suited for really large loads of `put_object`).
https://github.com/leocavalcante/list-load/blob/master/bin/upload.rs#L31

[2020-03-18 20:20] harasmussen opened #74 "Panic on client error"
If a client error occur (i.e trying to download an invalid bucket) while calling `get_object_stream()` it will save the xml formatted error message from S3 into the file. I would expect the function to return an Err() so my program can handle this case instead of continue as everything is okay.

It can be replicated by changing the bucket name to something bogus in the code snippet from the docume

[2020-03-18 20:28] harasmussen commented on #74
So I can use the 404 status code, but it still feels too late when file has been written to disk..

[2020-03-25 16:09] durch commented on #74
Hi @harasmussen, unfortunately there is no validation on the lib side at the moment, I'll see if there is a nice way to add some sort of a callback based on the status codes that get returned. I agree that an `Err` would be a more ergonomic solution here.

 In the meantime I'd suggest checking the status code that gets returned by `get_object_stream`, I'm guessing anything greater that 204 should

[2020-03-25 16:27] durch commented on #72
@leocavalcante this has been added in v0.19.0, which, there are a bunch of breaking but ergonomic changes in there -> https://github.com/durch/rust-s3/releases/tag/v0.19.0

[2020-03-25 16:27] #72 closed

[2020-03-25 16:28] durch commented on #58
@Jonathas-Conceicao, [v0.19.0](https://github.com/durch/rust-s3/releases/tag/v0.19.0) published to [crates.io](https://crates.io/crates/rust-s3)

[2020-03-25 16:28] #58 closed

[2020-03-25 16:29] leocavalcante commented on #72
Thank you so much, I'll be updating my list-load project.

[2020-03-25 16:29] durch commented on #40
@dima74 `put_object_stream` added in v0.19.0 -> https://github.com/durch/rust-s3/releases/tag/v0.19.0 and published to crates.io.

[2020-03-25 16:30] durch commented on #45
Should be fully done in v0.19.0, but I'll do an additional pass.

[2020-03-25 16:30] #45 closed

[2020-03-28 17:39] dima74 opened #76 "SignatureDoesNotMatch error when downloading file from Yandex Object Storage"
Here is sample code which uploads file to [Yandex Object Storage](https://cloud.yandex.com/services/storage) and then downloads that file and compares content (rust-s3 version 0.19.4):

[code]

`put_object` request completes successfully (and file is actually uploaded), but `get_object` request fails with the following error:

[code]

---

Yandex Object Storage [promise to support](https://cloud.y

[2020-04-08 11:03] rabbitinspace opened #77 "Broken build after updating from 0.19.3 --> 0.19.4"
Hi!

I've tried to update `rust-s3` from 0.19.3 to 0.19.4 and the new version changed return type of `Credentials::new` from `Credentials` to future (which is a breaking change). As I can see it was introduced here: 9c4ecf1e3fed7d6cfe19231880d1a812872ffd2a.

So, are you happy to revert it for 0.19.x? Or to have another non-async initializer?

[2020-04-13 21:19] durch commented on #77
That’s an unfortunate regression, apologies for that, will have a revert for out tomorrow

[2020-04-13 21:21] durch commented on #76
Interesting, I’m guessing it has something to do with the region parameter. I will take a look at their API spec, see if we can get to the bottom of this.

[2020-04-15 10:12] durch commented on #77
@rabbitinspace looking at the version code there are `new_blocking`, and `default_blocking` initializers for Credentials, would you be OK with using those, I'd like to avoid a `yank` and another new version.

I realize that we still broke the semver, and that its less then ideal, but another new `0.19.*` version might cause more confusion. If you can't use the sync initializers for whatever reason

[2020-04-15 10:29] rabbitinspace commented on #77
For now I’m happy to stay on 0.19.3 and will upgrade straight to 0.20.0 in the future.
(although I have a question about those blocking initializers, I can ask it in a separate issue)

I suppose I’m the only one who was affected by this breaking change given that 0.19.3 was yanked from crates.io and no one reported about it. So I’m going to close the issue.

Thanks for looking into it!

[2020-04-15 10:30] #77 closed

[2020-04-15 13:45] durch commented on #77
For sure, happy to help :)

[2020-04-21 12:05] Ten0 opened #80 "rust-s3 should reexport aws-region and aws-creds"
I get that somebody else may want to use aws-region/aws-creds without s3, hence the need for a separate crate.
However it's hard to use rust-s3 without these crates, and they have to be of the same version.
For this use, you usually want to re-export aws-region and aws-creds, making it easier on your users: they don't have to keep track of these dependencies, and the doc works better.

[2020-04-23 16:01] durch commented on #80
@Ten0 thank you for the suggestion, v0.20.1 reexports` aws-region` as `region` and `aws-creds` as `creds`

[2020-04-23 16:01] #80 closed

[2020-04-24 19:58] durch commented on #76
@dima74 Could you try defining a custom region:

[code]

Looking at the API docs, that should do the trick, unfortunately I can't test it out myself ATM :/

In case this works I'll update the `awsregion` crate to include `Region::Yandex`

[2020-04-25 07:39] dima74 commented on #76
@durch unfortunately I am still receiving same error when using custom region. Tested on this code (rust-s3 version 0.20.1):

[code]

[2020-04-26 07:58] durch commented on #76
Thank you for checking, I'll get some Yandex Storage creds and start debugging here, must be a signature issue...

[2020-04-27 16:35] browdus opened #81 "AWS Session Tokens not loaded from .credentials file (partial)"
Basically the same as issue https://github.com/durch/rust-s3/issues/57. Pull request https://github.com/durch/rust-s3/pull/59 partially fixed the issue, but missed one of the fields, `aws_session_token`.

[2020-04-29 14:05] durch commented on #76
@dima74 I gave you the wrong region name originally, could you try `ru-central1` please? I'm going off the aws cli docs here -> https://cloud.yandex.com/docs/storage/tools/aws-cli

[2020-04-29 15:08] dima74 commented on #76
@durch with `ru-central1` I receive same error (SignatureDoesNotMatch). I am not sure that region name matters here, because in rusoto code (in first post) I even use `us-east-1` and there are no errors

[2020-04-29 15:13] #81 closed

[2020-04-29 15:13] durch commented on #81
published to crates.io with `0.21.0`

[2020-04-29 15:43] browdus commented on #81
Perfect, thanks! It works like a charm.

[2020-04-29 15:56] durch commented on #76
Do you maybe have a rusoto snippet I could test out. I'm getting the same errors using AWS cli and configuring it according to their docs...

[2020-04-29 15:58] meh commented on #40
Is there a reason `get_object_stream` takes an `io::Write` but `put_object_stream` doesn't take an `io::Read`?

I'd prefer to not have to save to a file before being able to upload it.

[2020-04-29 16:43] dima74 commented on #76
@durch sure, here it is:

[code]
(same code is in issue description under details tag, maybe I should not use details...)

Maybe it is Yandex.Storage bug, because rusoto itself had [similar issue](https://github.com/rusoto/rusoto/issues/1463) in past

[2020-04-29 20:42] durch commented on #76
@dima74 thank you for the patience, I found the issue, it was actually in the request headers, we used to send `Content-lenght: 0` on GET requests, thats what was messing with the `List` and `Get` operations. And the awscli was just me using the wrong credentials, all in all thanks so much for riding this out, `0.21.1` has just been pushed to crates.io it has full support for the `yandex` region.

[2020-04-29 20:43] #76 closed

[2020-04-30 07:31] durch commented on #40
@meh Probably, but can't think of it right now :), I'll revisit the implementation and get back to you, thanks for raising the inconsistency

[2020-04-30 07:37] meh commented on #40
It might also be better for it to take AsyncRead and AsyncWrite in the async version, and Read and Write in the blocking one.

[2020-04-30 11:50] dima74 commented on #76
@durch amazing work, thank you!

[2020-04-30 20:18] lilith opened #85 "How to use anonymous credential"
For public buckets/objects, how can I use an anonymous credential? Seems to throw an error any method I try.

[2020-05-01 20:32] durch commented on #85
Hi @lilith, not sure what you mean by anonymous, it would be great if you could provide a minimal reproducible code sample :)

[2020-05-02 08:44] durch commented on #85
@lilith I think I got it, will be supported in `0.22.0`, coming out today

[2020-05-02 08:53] #85 closed

[2020-05-02 08:55] durch commented on #40
@meh fixed in `0.22.0`, there are also new `tokio_put_stream_object` and `tokio_get_stream_object` `Bucket` methods that take `tokio::io::AsyncReadExt` and `tokio::io::AsyncWriteExt`. Their `futures` counter parts do not seem very practical to use yet...

[2020-05-02 08:55] #40 closed

[2020-05-02 11:51] durch commented on #74
Circling back here, version `0.22.1` adds a `fail-on-err` feature that will surface an error on response codes >= 400.

[2020-05-02 11:52] #74 closed

[2020-05-03 09:25] harasmussen commented on #74
@durch Thanks!

[2020-05-05 10:23] Bobonium opened #88 "Path style bucket access no longer possible after 0.20.1"
I just tried upgrading from 0.20.1 to the latest release, but had to realize that path style bucket access is no longer supported.
This is bad for minio compatibility. Minio does accept dns based bucket access, but it's simply never used by anyone in a kubernetes context as there's no easy way to properly generate these dns records there.

It'd be great if there was a way to configure the behavior

[2020-05-05 18:01] durch commented on #88
@Bobonium thank you for raising the issue, I was unaware of the fact that minio does not support this, will provide a configuration flag

[2020-05-05 18:24] #88 closed

[2020-05-05 18:26] durch commented on #88
@Bobonium pushed out a fix, you'll have to upgrade all the way `0.22.3` to get it tough :(, let me know if I can help with this. I've implemented it as a cargo feature for now:

[code]

[2020-05-06 17:55] Bobonium commented on #88
@durch just tested it, and it works exactly as intended. Thanks a lot for the adjustment

[2020-05-07 07:21] durch commented on #88
Happy to help :)

[2020-05-25 11:38] Lesiuk opened #90 "tokio_get_object_stream is not streaming data but buffering everything in memory and writing all at once"
It's going to be faster for large files download and also use significantly less memory.

[2020-05-25 19:02] #90 closed

[2020-06-12 14:08] elertan commented on #54
Any idea when this might be resolved @durch ? Pre signed urls would really make this library be more useful as it is a far better way of uploading/downloading files for the user.

[2020-06-15 14:31] durch commented on #54
@elertan thanks for the nudge, my schedule is a bit messy, I'll try and squeeze some work towards this in the next week or two, will update the issue as soon as I a have a better estimate, sorry for the inconvenience :/

[2020-06-22 17:46] #54 closed

[2020-06-22 17:47] durch commented on #54
@Geal, @elertan version `0.22.8` pushed to crates.io today brings back support for presigned URLs, with two dedicated `Bucket` methods `presign_put` and `presign_get`

[2020-06-24 14:19] iammichiel opened #96 "Path-style configuration in runtime"
Hi there !

Thanks for your work on this bucket :) Really like the simplicity of it compared to other existing solutions in Rust !
Actually enjoyed integrating S3 into an app. Was definitely not the case using rusoto...

Anyway, I would like to suggest making the `path-style` cargo feature a configuration flag. The problem with using it as a cargo feature flag is one cannot use multiple backends i

[2020-06-25 07:14] arranf opened #97 "v0.22 Produces 403 Signature Does Not Match Error"
[code]

This is the code in question
[code]

0.21 works:

[code]

This is my toml for 0.22
[code]

[2020-06-25 11:35] arranf commented on #97
0.21 was still erroring - just doing it silently.

Things I tried to resolve the error:
* Resetting my clock to match NTP
* Removing my environment variables AWS keys
* Moving the keys to `~/.aws`
* Restarting

Some combination of the above worked.

[2020-06-25 11:35] #97 closed

[2020-06-25 11:36] arranf opened #98 "Add Support for rustls"
At the moment `rust-s3`'s backend uses reqwest and it's native-tls TLS/SSL feature. native-tls isn't as portable as rustls - it'd be a nice enhancement to support via feature flag compiling reqwest with different tls backends.

[2020-06-25 12:42] durch commented on #96
@iammichiel I'm very happy to hear that. The feature implementation was always meant to be temporary, I'll be glad to have obsoleted :)

[2020-06-26 11:26] durch commented on #98
@arranf published version `0.22.10` that adds `rustls-tls` feature flag to compile `reqwest` with its `rustls-tls` feature

[2020-06-26 11:26] #98 closed

[2020-06-27 01:22] arranf commented on #98
@durch Can you make the same/similar changes with the aws creds repo?Thanks for making this change so quickly!

[2020-06-29 08:49] durch commented on #98
@arranf `aws-creds` does not use any tls, `reqwest` is only used to get the metadata when running on an EC2 instance. So there is really nothing do to there :)

[2020-07-06 10:41] durch commented on #97
@arranf I'm happy you got that resolved! Looking at the above, its probably the NTP, signatures are time sensitive.

[2020-07-10 14:32] #96 closed

[2020-07-11 20:23] will-sloan opened #102 "Adding to dependencies in rust-wasm project causing errors"
**Describe the bug**
When adding `rust-s3 = "0.22.12"` to my dependencies in a rust-wasm project, it causes the build to fail.
Mainly it says: `unresolved import 'sys'`

**To Reproduce**
Create a rust-wasm project and add rust-s3
you can follow [this](https://rustwasm.github.io/docs/book/game-of-life/setup.html)
Then:
1 - `cargo generate --git https://github.com/rustwasm/wasm-pack-template`
2 - En

[2020-07-13 05:37] durch commented on #102
@will-sloan thank you for raising this, core problem is the `reqwest` dependency, it does most of its work through `tokio` which deep down depends on `net2` which is not `wasm` compatible. I wanted to replace reqwest with something more lightweight a while now, and this is a perfect excuse. I'm hoping to address it fairly quickly, however it is a major undertaking so I'm not super confident in tha

[2020-07-14 19:10] durch commented on #102
@will-sloan I'd be curious to see if `v0.23.0-beta2` meets your requirements, functionally its probably as good as it gets, I have a lot of clean up to do but should be good otherwise

[2020-07-14 21:11] will-sloan commented on #102
@durch I put `rust-s3 = "0.23.0-beta1"` which compiled (only included in Cargo.toml, it hasn't been used yet). There doesn't seem to be a `0.23.0-beta2` unless I'm missing something.

[2020-07-15 05:11] durch commented on #102
@will-sloan, terribly sorry about the version mix up, I guess I forgot to actually publish once the CI went green, anyway `beta2` is published now, until it gets merged this should get you going:

[code]

[2020-07-15 12:16] will-sloan commented on #102
Thanks, seems to be working.

[2020-07-15 12:16] #102 closed

[2020-07-15 12:49] durch commented on #102
Beautiful, I'll do some more cleanup, and than merge to master

[2020-07-23 06:36] jspawar opened #104 "HTTP connection to blobstore is never closed when uploading object"
**Describe the bug**
Call to `put_object` (with `await`) in an `async` function consistently never finishes. Upon inspection via `lsof -i` I see that my process has indeed opened a connection to the blobstore (in this case the S3-compatible endpoint for a GCS bucket):

[code]

But it then consistently remains stuck having not actually closed the underlying client's end of the TCP socket for the HT

[2020-07-23 15:49] durch commented on #104
@jspawar thank you for the report, I've not tested this agains GCP ever, so it might be something specific to their implementation. I'll take a look and report back.

[2020-07-23 23:31] jspawar commented on #104
@durch Great, thank you! Let me know if you'd like anything more from me of course, happy to help

[2020-07-24 00:22] jspawar commented on #104
Interestingly, I decided to try to use a Minio I deployed myself to a Kubernetes cluster I had lying around and ran into the exact same problem...

FWIW: I've used that particular Minio deployment for other projects and it has been working fine without issue (just to rule out any possible weirdness with the blobstore itself)

[2020-07-24 11:08] durch commented on #104
Oh very interesting, thank you for more info, points to a more general problem with custom regions possibly, will be easier to investigate for sure.

[2020-07-27 17:30] pwinckles opened #105 "Change serialization crate"
First, thanks for writing this crate! I tried it after being disappointed with the get object performance in `rusoto`, and your implementation is significantly faster*.

**Is your feature request related to a problem? Please describe.**

Listing objects does not work against at least one non-AWS S3 implementation that I tested. `rust-s3` fails to deserialize the results because the response XML co

[2020-07-27 18:19] durch commented on #105
@pwinckles Thank you for the feedback, it feels good to provide value to folks :)

As for changing the crate, I'm not at all opposed. Its been a while since any work went into serialisation, and if another crate works better that is great. That goes double if you're interested in PRing the feature.

I'd suggest starting with the minimum change needed and putting it behind a feature flag. This woul

[2020-07-27 18:36] pwinckles commented on #105
@durch Cool, I'll put a PR together sometime this week using a feature flag.

There is a slight catch that you may be less excited about. `yaserde` does not presently support fields defined as `Option<Vec<..>>`, which is how [common_prefixes](https://github.com/durch/rust-s3/blob/master/s3/src/serde_types.rs#L113) is defined. [The recommendation](https://github.com/media-io/yaserde/issues/49) is t

[2020-07-28 08:50] durch commented on #105
No worries, it is what it is, as long as its behind a feature flag we should be good :)

[2020-07-28 16:14] jaredwolff opened #106 "put_object_stream_blocking uploads 0B file"
**Describe the bug**
When using `put_object_stream_blocking`, I went to check the results of the file upload only to find 0B file of the correct name.

**To Reproduce**
Using a String or Path, open the file

[code]
**Expected behavior**
The file is currently 180KB. I expect that to be reflected in what's uploaded to AWS.

**Environment**
 - Rust version: 1.45.0
 - lib version: 0.22.12

**Additiona

[2020-07-28 18:05] jaredwolff commented on #106
My workaround for now is to read the whole file into memory and use `put_object_blocking`. Not ideal but I'm not working with big files.

[code]

[2020-07-28 18:29] durch commented on #106
@jaredwolff thank you for raising the issue, I'll look into it ASAP

[2020-07-29 15:20] pwinckles commented on #105
@durch Sorry, I'm going to back out of doing this now. I was able to get the performance issues with Rusoto resolved, so I'm just going to use it because it's the path of least resistance.

Feel free to close this issue. I doubt anyone else cares because I suspect that AWS doesn't return interleaved results.

[2020-07-30 06:17] durch commented on #105
No worries, I'll look into it, while it is a niche need no reason for it no to be served :)

[2020-07-30 13:41] pwinckles commented on #105
Okay, then to save you a little time because yaserde's documentation is lacking, here's what my `ListBucketResult` looks like:

[code]

As far as I could tell, every element must have its namespace explicitly defined, and every struct must be annotated with `#[yaserde(prefix = "s3", namespace = "s3: http://s3.amazonaws.com/doc/2006-03-01/")]`. I was unable to find a way to default it.

[2020-08-16 15:10] tx991020 opened #108 "Finished dev [unoptimized + debuginfo] target(s) in 4.41s Running `target/debug/mino` Error: S3Error { description: Some("Io Error: failed to lookup address information: nodename nor servname provided, or not known"), data: None, source: None }"
use s3::bucket::Bucket;

use s3::creds::Credentials;
use s3::region::Region;
use s3::S3Error;
use std::fs::File;

struct Storage {
    name: String,
    region: Region,
    credentials: Credentials,
    bucket: String,
    location_supported: bool,
}

fn main() -> Result<(), S3Error> {
    // region_name = "nl-ams".to_string();
    // endpoint = "https://s3.nl-ams.scw.cloud".to_string();
    // re

[2020-08-17 09:10] durch commented on #108
@tx991020 looks like a connectivity issues, are you absolutely positive something is listening on `http://114.55.145.17:5432` ?

[2020-08-17 09:19] tx991020 commented on #108
yes .  use  golang  SDK  It is ok.

package main

import (
	"context"
	"log"

	"github.com/minio/minio-go/v7"
	"github.com/minio/minio-go/v7/pkg/credentials"
)

func main() {
	endpoint := "114.55.145.17:5432"
	accessKeyID := "admin"
	secretAccessKey := "admin123"
	useSSL := false

	// Initialize minio client object.
	minioClient, err := minio.New(endpoint, &minio.Options{
		Creds:  credentials.New

[2020-08-17 09:20] tx991020 commented on #108
looks like reqwest  dns error

[2020-08-17 09:22] tx991020 commented on #108
Error: S3Error { description: Some("error sending request for url (http://test1.114.55.145.17:5432/?delimiter=%2F&prefix=%2F&list-type=2): error trying to connect: dns error: failed to lookup address information: nodename nor servname provided, or not known"), data: None, source: Some(Req(reqwest::Error { kind: Request, url: "http://test1.114.55.145.17:5432/?delimiter=%2F&prefix=%2F&list-type=2",

[2020-08-18 13:06] durch commented on #108
Might be the port tripping it up, I'll do some debugging

[2020-08-24 18:46] durch commented on #108
@tx991020 sorry this took so long. The issue is with the subdomain style. If you create the bucket with `Bucket::new_with_path_style` instead of `Bucket::new` it should work as expected, method signatures are the same.

[2020-08-25 04:07] tx991020 commented on #108
thank you very much  @durch

[2020-08-25 06:52] durch commented on #108
Closing for now, please reopen if the issue resurfaces in a different context :)

[2020-08-25 06:52] #108 closed

[2020-09-03 05:55] jiangplus commented on #106
I came into the same issue too.
The put_object_stream_blocking just uploaded an empty file, discarding the content.

[2020-09-06 06:51] #106 closed

[2020-09-06 06:57] durch commented on #106
@jaredwolff, @jiangplus version `0.23` released today fixes this

[2020-09-17 08:08] ICEYSELF opened #110 "`Bucket::tokio_put_object_stream` seems not to be correctly implemented"
**Describe the bug**
I tried to upload a piece of video to my S3 bucket using this method:
[code]
When I check out the uploaded object, I found that it has zero length. I ran into the implementation and found the following code:
[code]
However, according to the documentation of function `tokio::io::AsyncRead::read`

This function tries to fill the given slice. Since an empty vector is used, length

[2020-09-17 13:50] jplatte opened #111 "Tests assume some environment variables to be present"
**Describe the bug**

When running `cargo test` for the s3 crate in an environment without the EU_AWS_ACCESS_KEY_ID & EU_AWS_SECRET_ACCESS_KEY environment variables, the tests fail.

**To Reproduce**

[code]

**Expected behavior**

Tests should succeed.

**Environment**
 - Rust version: `1.46`
 - lib version: git master

[2020-09-17 13:52] jplatte commented on #111
Actually, this seems even worse. Do these have to be valid credentials for the tests to pass?

[2020-09-17 17:35] durch commented on #111
@jplatte yeah, I did not have the bandwidth to mock the tests. Github actions associated with the repo pull in those secrets, if I recall correctly they get pulled into forked repo actions as well.

[2020-09-17 17:37] durch commented on #111
Actually judging by the output of that PR they don't, now that is extra crappy, I'll pull your branch over to test

[2020-09-17 18:09] durch commented on #111
@jplatte thank you for raising this, sorry for the crappy PR experiance, I'll have to figure something out here. I've merged your bumps, its published to crates.io as `0.24.0`, I'll keep this issue open.

[2020-09-17 18:31] jplatte commented on #111
If they were available to PR branches, they could be leaked through PRs that update the actions workflow.

Maybe you could add a `realworld-tests` cargo feature and add `#[cfg(not(feature = "realworld-tests"), ignore]` to these tests (+ update your CI config to pass `--features realworld-tests`).

[2020-09-20 17:22] durch commented on #110
@ICEYSELF thank for the report, that is unfortunately a very silly bug, and I'm aware of it. I've been scheduling some time to fix it with a proper multipart upload implementation for a while now. I'll try and get it done in the following week. Until then I'd suggest you got with `put_object_stream` as it implements the streaming multipart correctly. I've updated the readme to reflect this bug.

[2020-09-21 03:55] ICEYSELF commented on #110
Thank for the response. I've been using `put_object_stream`.

[2020-09-22 08:34] koplas opened #115 "`signing::authorization_query_params_no_sig` does not encode params"
**Describe the bug**
When generating presigned urls, the params are not uri encoded, resulting in invalid urls.

**To Reproduce**
[code]

**Expected behavior**
Parameter are uri encoded.

Got:
`https://rust-s3-test.s3.amazonaws.com/test.file?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAXXX/20200922/us-east-1/s3/aws4_request&X-Amz-Date=20200922T080525Z&X-Amz-Expires=86400&X-Amz-SignedHeade

[2020-09-22 09:08] koplas opened #116 "Add ability to presign custom header"
**Is your feature request related to a problem? Please describe.**
Currently `Bucket::presign_put()` doesn't allow the signing of custom header. Without this it is not possible to set custom header like `Content-Type` or `x-amz-acl`, while uploading objects with presigned urls.

**Describe the solution you'd like**
Add a parameter to `Bucket::presign_put()` which accepts a HeaderMap, that contains

[2020-09-25 13:33] #116 closed

[2020-09-25 13:34] #115 closed

[2020-09-25 14:50] koplas opened #120 "`s3::signing::uri_encode` encodes UTF-8 characters wrong"
**Describe the bug**
`s3::signing::uri_encode` encodes multibyte UTF-8 characters wrong. The bytes are not separated by a `%`, this prevents the upload and download of objects with multibyte characters.

**To Reproduce**
[code]
Output:
[code]

**Expected behavior**
Multibyte characters are encoded properly.

**Environment**
 - Rust version: [e.g. `1.46`]
 - lib version [e.g. `0.24`]

**Additional

[2020-09-26 06:20] durch commented on #120
@koplas thank you for another one, I've had a plan to switch to a crate for a while now, no time like the present it seems

[2020-09-27 09:22] #120 closed

[2020-09-28 15:50] jplatte commented on #110
Should I expect similar issues with `tokio_get_object_stream`?

[2020-09-30 06:03] jrmiller82 opened #122 "Etag function needed for non MD5 e-tags"
The library needs a function to let the user generate a non MD5 e-tag on a local file so that it can do a comparison.

See these links for the algorithm and rationale:

https://teppen.io/2018/06/23/aws_s3_etags/
https://teppen.io/2018/10/23/aws_s3_verify_etags/

[2020-09-30 06:05] jrmiller82 opened #123 "Docs: need updates to examples in docs to take into account correct useage of Credentials and Region"
The docs throughout don't seem to take into account the re-exports of Credentials and Region.

[2020-10-01 10:51] durch commented on #123
@jrmiller82 thank you for raising this, I'll make sure to update the docs

[2020-10-02 13:25] durch commented on #122
@jrmiller82 always happy to implement new use cases, will keep you posted

[2020-10-03 12:58] #123 closed

[2020-10-03 19:44] durch commented on #104
@jspawar I wonder if you can still reproduce the issue with ^0.25. I've just tested it and it seems to be closing ok, I've added a test to the lib to test GCP specifically so hopefully it catches it even if it is something intermittent...

[2020-10-03 20:17] #111 closed

[2020-10-03 22:49] jrmiller82 commented on #123
Thank you!

[2020-10-03 23:07] jrmiller82 commented on #123
Just noticed there is still documentation in the comments that aren't correct:

see https://docs.rs/rust-s3/0.26.0/s3/bucket/struct.Bucket.html#structfield.extra_headers

[2020-10-04 01:34] #122 closed

[2020-10-04 01:41] durch commented on #122
Published in `0.26.1`

[2020-10-13 09:30] floriama opened #127 "Missing bucket operations"
Hi,
I am in the process of evaluating if this crate fits my needs. From reading the docs I'm left wondering if operations to list all buckets and create / delete buckets are missing.
Is this planned for the future or is this functionality omitted by design?

PS: Great crate, thanks for you work!

[2020-10-13 11:20] durch commented on #127
@floriama I'm planning to support the full API eventually, I take a stab at implementing bucket ops, and report back

[2020-10-14 06:55] floriama commented on #127
Awesome, thank you so much!

[2020-10-18 06:07] Geometrically opened #128 "Setting an Object's ACL's"
**Is your feature request related to a problem? Please describe.**
I need to set the access level of a file to public when I create it. However, there are no methods to do in the SDK.

**Describe the solution you'd like**
A way to set an object's ACLs (https://developers.digitalocean.com/documentation/spaces/#acls)

**Describe alternatives you've considered**
Nothing yet.

[2020-10-18 16:29] Geometrically commented on #128
Nevermind, I figured out you can use the bucket's custom headers

[2020-10-18 16:29] #128 closed

[2020-10-18 20:20] durch commented on #127
@floriama #129 adds `BucketCreate` and `BucketDelete`, are there any other ops you need right now, or are we good to ship?

[2020-10-19 06:24] floriama commented on #127
Looks good to me! I'll test it as soon as it's merged against b2 and exoscale.
Thanks for the effort!

[2020-10-19 06:59] durch commented on #128
@Geometrically glad you figured it out, do you maybe have a code snippet we could put in the README to help out folks from the future :)

[2020-10-19 18:03] #127 closed

[2020-10-19 18:09] durch commented on #104
Closing for now, feel free to reopen if the issue persists

[2020-10-19 18:09] #104 closed

[2020-11-01 23:58] kyrias opened #132 "Support for running under async-std executor"
**Describe the bug**
Since the crate depends on `async-std` and has generic `futures` functions it seems like the crate is meant to work when running under the `async-std` executor, rather than just `tokio`.

However, since the crate uses `reqwest` as its HTTP client, even the `futures`-based functions only function under tokio due to `reqwest` only supporting `tokio`.

**To Reproduce**
[code]

<d

[2020-11-02 07:14] durch commented on #132
@kyrias thanks for the report, I've been eyeing this improvement for a while now, will take a closer look at implementation and report back :)

[2020-11-02 13:40] kyrias commented on #132
Awesome, thanks!

[2020-11-02 17:12] guilload opened #134 "Support for range in get object"
Hello,

I need support for range in get object for a project I'm working on. I'm happy to submit a PR. Do you want me to add a `range: Option<(u64, u64)>` parameter to the `GetObject` command or create a new `GetObjectRange` command? I guess I'd also have to create a new method on the `Bucket` struct called something like `get_object_range`. Shall I also implement the blocking API?

Let me know wh

[2020-11-02 18:53] durch commented on #134
@guilload that is a good question, I feel like a `GetObjectRange` command is more ergonomic, than another parameter for the `get_object` method family. If its all the same to you I'd go with a new command. I think the only change you'll need to introduce is a conditional header if its the  `GetObjectRange`.  Let me know what you think :)

Blocking API is currently leveraging `tokio` and is only do

[2020-11-03 01:24] kennetpostigo commented on #132
@kyrias Hi, I actually just ran into the same issue, I was unsure if there was a way to plug [surf](https://github.com/http-rs/surf) and async-std into the crate through some sort of configuration. I tried a few things before realizing it was reqwest.

@durch would we need to tell the crate to use surf & async-std when the fix lands?

[2020-11-03 06:51] durch commented on #132
@kennetpostigo yes, it'll be feature flagged, and turning it on will swap out `reqwest` for `surf`

[2020-11-08 08:53] durch commented on #132
#130 will land today, that in turn will make it easy to swap out backends, `async-std` should land in the next few days.

[2020-11-09 04:16] Geometrically commented on #128
[code]

This worked for me!

[2020-11-09 07:41] durch commented on #128
Rock on! Thank you :)

[2020-11-15 17:49] durch commented on #132
Code is done, tests are passing. Last thing left is documentation, I'm a bit obsessive here, but I'd like to nail it. There are a lot of features now, and that could be confusing for folks

[2020-11-15 19:21] durch commented on #132
Docs done as well, I've pushed `0.27-beta0` to crates.io in case anyone wants to test.

[code]

Turns on the `async-std` backend. In addition in case you need a sync version of the methods anywhere in the code there is the `blocking` feature which will generate a `*_blocking` method for each `async` method using `async_std::task::block_on`.

[2020-11-15 19:23] durch commented on #132
Docs done as well, I've pushed `0.27-beta0` to crates.io in case anyone wants to test.

[code]

is how you can turn on the `async-std` backend. In addition in case you need a sync version of the methods anywhere in the code there is the `blocking` feature which will generate a `*_blocking` method for each `async` method using `async_std::task::block_on`.

[2020-11-15 19:25] durch commented on #110
Changes landing in #138 make this issue obsolete, there will be dedicated support for `tokio` and `async-std` built in, no extra methods required

[2020-11-15 19:25] #110 closed

[2020-11-15 19:26] durch commented on #134
Published to crates.io in `0.27.0-beta0`

[2020-11-18 17:22] #132 closed

[2020-11-18 17:27] #134 closed

[2020-11-22 15:02] kyrias commented on #132
Just updated my gallery updated to `-beta1`, and it seems to be working well!

[2020-11-25 13:37] jplatte opened #143 "presign_get and presign_put don't document error conditions"
Both `Bucket::presign_get` and `Bucket::presign_put` return a `Result`, but aren't `async` (so presumably don't do any I/O). Could it be documented in what ways they can fail?

[2020-12-01 11:47] jplatte opened #144 "Signature mismatch"
**Describe the bug**

When using `bucket.presign_get("/some/path/file.txt")`, I get a signature mismatch with *some* DigitalOcean spaces. The generated presigned URL always contains the slashes in the path encoded as `%2F`, and sometimes this is okay (changing them to `/`es does not break the presigned URL), but sometimes I get a signature mismatch (changing them to `/`es then fixes the presigned

[2020-12-01 12:04] durch commented on #144
@jplatte That might be a path vs subdomain style issue, try instantiating the [bucket with `path_style`](https://docs.rs/rust-s3/0.26.3/s3/bucket/struct.Bucket.html#method.new_with_path_style).

 Due to AWS the default is subdomain style, this will in turn encode all slashes, path style should encode slashes in the path correctly.

[2020-12-01 12:27] jplatte commented on #144
Thanks for the fast response!

This is not a path vs subdomain issue, we're already using `path_style`. That I reproduced this with the subdomain style for this bug report is basically just a coincidence.

Should I share a path_style link with the same issue?

[2020-12-01 12:33] jplatte commented on #144
I've now also reported this to DigitalOcean, let's see what they say...

[2020-12-01 17:43] durch commented on #144
I seem to recall a similar issue a while back, also ended up being with the provider, lets see what they say, I'll be happy to look into this some more. It seems it could be better for sure

[2020-12-01 18:35] jplatte commented on #144
I mentioned #133 above, maybe you mean that? I ended up applying a very similar [workaround](https://github.com/lumeohq/rust-s3/commit/383f5f615a99af633ce50172ceecf9d68d6940a2) for now.

[2020-12-01 22:37] godofdream opened #145 "the trait `Send` is not implemented for `Result<(Vec<u8>, u16), s3::S3Error>`"
**Describe the bug**
dyn Future<Output = std::result::Result<(Vec<u8>, u16), s3::S3Error>>` cannot be sent between threads safely
[code]

**To Reproduce**
simply use tokio spawn and it crashes during build.

**Environment**
[code]

**Additional context**
I assume "simpl::err" doesn't add "Send" trait

[2020-12-02 07:07] durch commented on #145
@godofdream interesting issue,  merged you PR over in `simplerr` prematurely. The issue is that Error trait source method does not allow the Send + Sync boundary. Could you provide a code snippet that I could start on, it'll make experimantation easier :)

[2020-12-03 20:42] durch commented on #145
Tentatively merged to `dev`, published beta3 to crates.io

[2020-12-05 16:05] milenkovicm opened #147 "Issue with zip files uploaded to minio"
**Describe the bug**

Looks like the library is trimming ascii 0 character at the end of the zip file when using `put_object_stream_*` methods.

This problem may be related to filter at https://github.com/durch/rust-s3/blob/af177f4d2bb5d831ae708cfd442ff8e770fc245c/s3/src/utils.rs#L96 thus bytes at the end of file may go missing after upload.

original zip ending:

<img width="500" alt="original" s

[2020-12-05 17:40] milenkovicm commented on #147
Just few notes regarding `read_chunk` functions:

- Loop should break if `n` is zero, as read may return n < `BUF_LEN` even if not EOF according to the https://doc.rust-lang.org/std/io/trait.Read.html#tymethod.read
- Wouldn’t it make more sense to take slice of `buffer[..n]` instead of current trimming? This way buffer could be allocated just before loop, and reused.

Thanks

[2020-12-06 16:17] milenkovicm commented on #147
Test to demonstrate issue and fix referenced.

If satisfied u can cherry-pick it or i can crate PR.

[2020-12-06 19:42] durch commented on #147
@milenkovicm Thank you for both the report and the suggested solution, great stuff. Will get to it tomorrow or the day after

[2020-12-06 21:51] milenkovicm commented on #147
No problem @durch, let me know if I can help.

Another thing I've noted is related with `etag` calculation.
- Current version on `master` is not deterministic, as in some edge cases it may fail.
- Version which is using new `read_chunk` is probably deterministic for constant `CHUNK_SIZE` but does not look right depending on a `CHUNK_SIZE` for `md5` calculation.

To be pedantic, it does not look ri

[2020-12-06 22:24] bausano opened #148 "Cannot upload objects which start with "+" due to 403"
**Describe the bug**
I use the [upload](https://durch.github.io/rust-s3/s3/bucket/struct.Bucket.html#method.put_object_with_content_type) method to push two types of objects to S3. Objects which start with `-` (e.g. `-askhn`) and objects which start with `+` (e.g. `+askhn`). The first group of objects is uploaded without any issue. The response code is 200. But all objects starting with `+` are no

[2020-12-07 08:40] durch commented on #147
Fixes to read_chunk will be pushed to 0.26.4, and 0.27.0-beta4. `etag` is an interesting beast, chunking gymnastics are due to aws special handling of etags for multipart uploads, not sure how that jives with other providers. [This](https://teppen.io/2018/06/23/aws_s3_etags/) was my guide for implementing them, open to improvements :)

[2020-12-07 15:41] durch commented on #148
@bausano thanks for raising the issue, will look it right over

[2020-12-07 18:00] durch commented on #148
We're either not encoding everywhere, or AWS treats `+` as ` `, this is their interpretation of `/t+est.file` -> `/t/%20est.file` instead of `/t/%2Best.file`

[2020-12-07 19:40] bausano commented on #148
Thanks for the quick reply. I tried to identify the problem myself but I was not familiar enough with how signing work.

[2020-12-07 19:40] milenkovicm commented on #147
Thanks @durch, it looks fixed now.

[2020-12-07 19:40] #147 closed

[2020-12-07 20:17] durch commented on #148
For sure, happy to help :). I ended up making a breaking change and publishing this as `0.27.0-beta5`, let me know if you need pointers on porting `0.26.*` code, it should mostly work unless you're using `_blocking` functions, in that case you'll need to flip on the `blocking` feature

[2020-12-07 23:05] bausano commented on #148
Confirming your fix works. Once again, thank you for this great crate.

[2020-12-07 23:05] #148 closed

[2020-12-08 07:00] durch commented on #148
Thats great to hear man! Thank you

[2020-12-08 07:01] durch commented on #144
@jplatte root cause here might have been the url encoding issue fixed as part of #148, I'd be interested to hear if it makes your problems go away as well.

[2020-12-08 07:25] jplatte commented on #144
That's about `+` though? What the DO support said is that `/` should only be encoded in query parameters, not in the path (though they did not explain why this works on one of their spaces then, I don't really buy this explanation tbh...).

Since the author of #133 didn't find any regressions with not encoding `/` though, how do you feel about no longer encoding it (just in the path)?

[2020-12-08 18:27] durch commented on #144
Its actually about all special characters, we were not encoding path correctly at all. As for the slashes, they should not be encoded in the [path](https://github.com/durch/rust-s3/blob/57df3c34595a5d4557cb6f137a32f2a03171644b/s3/src/signing.rs#L72), I've added a [test](https://github.com/durch/rust-s3/blob/683d1c3c7e1569613e67dbb35f757da377020dde/s3/src/signing.rs#L260) for it . We only encode in

[2020-12-08 18:33] jplatte commented on #144
Are you planning to do a release soon? If not, I can verify this with a git dependency.

[2020-12-10 21:58] durch commented on #144
@jplatte fixes from #148 have been published to `0.27.0-beta5`, I'd be happy to help porting any code over, the changes mostly boil down to which features to turn on

[2020-12-16 12:02] jplatte opened #149 "0.27.0-beta* fails to compile with tokio-rustls-tls"
**Describe the bug**

Trying to use 0.27.0-beta{1,2,4,5} with `default-features = false, features = ["tokio-rustls-tls"]` fails.

**To Reproduce**

Create a crate with a dependency on the beta version, like this:

[code]

**Expected behavior**

It should work

**Environment**
 - Rust version: rustc 1.48.0 (7eac88abb 2020-11-16)
 - lib version 0.27.0-beta5

**Additional context**

Full error messag

[2020-12-16 12:04] jplatte commented on #144
Just wanted to test, but 0.27.0-beta5 doesn't compile for me. Opened a new issue about that: #149

[2020-12-17 08:00] durch commented on #149
@jplatte docs, are not great here yet, you also need to include the `with-tokio` feature to get this to work

[2020-12-17 09:48] jplatte commented on #149
Why does the tokio-rustls-tls feature not activate that one?

[2020-12-17 15:37] durch commented on #149
There is no good reason, I will push out an update to streamline features a bit

[2020-12-18 12:39] jplatte commented on #144
I've tested with 0.27.0-beta5 and this does not appear to be true. AFAICT, the issue is `Request::url` calling `signing::uri_encode` with `encode_slash` being `true`. I wonder whether that function should ever be encoding slashes, or whether the parameter can just be removed. If it can't, it still seems incorrect to pass `true` in that place.

[2020-12-20 11:12] glebpom opened #150 "Use HeaderMap from http crate instead of HashMap for headers"
**Is your feature request related to a problem? Please describe.**
I use minio as a caching storage, along with hyper-based proxy server implementation. I typically use `HeaderMap` struct from `http` crate for manipulating headers. It's used by hyper and support multiple values for the same header name.

**Describe the solution you'd like**
Use Headers struct from HTTP crate instead of HashMap for

[2020-12-20 17:58] durch commented on #144
It would be ideal to remove it, let me come up with some tests for that, if we can prove its not doing anything useful I'll be happy to take it out!

[2020-12-20 17:59] durch commented on #150
@glebpom Thank you for raising the request, this would be the ideal solution, I've been queuing it up for a while now, will get to it soon-ish :)

[2020-12-21 09:21] durch commented on #149
Fixed in `0.27.0-beta6`

[2020-12-21 09:21] #149 closed

[2020-12-21 22:24] glebpom commented on #150
Closed by #151

[2020-12-21 22:24] #150 closed

[2020-12-21 22:29] glebpom opened #152 "Re-use the same HTTP client instance"
**Is your feature request related to a problem? Please describe.**
Re-creating reqwest/surf instance is not effective, since the connection pool cannot be re-used.

**Describe the solution you'd like**
Request implementation may be refactored, so that Client instance is stored in the particular implementation struct, and move `command` and `path to trait functions arguments

[2020-12-22 17:27] schoenenberg opened #153 "0.27.0-beta6 does not compile with feature flag "with-async-std""
**Describe the bug**
Compile error during compilation of rust-s3 with feature-flag *with-async-std*.

[code]

**To Reproduce**
1. New Rust Project
2. Add the following dependencies to `Cargo.toml`
  - `async-std = { version = "1.8.0", features = [] }`
  - `rust-s3 = { version = "0.27.0-beta6", features = ["with-async-std"] }`
3. `cargo build`

**Expected behavior**
Should compile and work.

**Envi

[2020-12-23 09:43] durch commented on #153
@schoenenberg you'll also need to disable default features, docs around all these new flags are lacking, apologies.

[code]

should do the trick

[2020-12-23 09:46] durch commented on #152
@glebpom thanks for the call out, a few versions ago I switched this back to spawning a dedicated client due to issues with tests. I'm in general pro this approach, its just a hassle to rework the tests, I'll have some more free time in the next few weeks so I might revisit this. I'm always open to PRs :)

[2020-12-23 09:46] #145 closed

[2020-12-23 15:44] schoenenberg commented on #153
Thanks, that worked! Are you open for PRs to improve documentation?

[2020-12-29 09:29] durch commented on #153
@schoenenberg of course, PRs always welcome :)

[2020-12-31 01:20] #153 closed

[2021-01-06 19:51] Jasperav opened #158 "Tokio = 1.0"
Tokio's current version is 1.0. It would be useful that this crate will use that version as well

[2021-01-06 20:09] nightmared commented on #158
This was blocked due to a dependency on h2, but h2 0.3.0 now supports tokio 1.0, so I don't see any blocking issue. I will open a PR soon.

[2021-01-06 20:52] Jasperav commented on #158
That was quick! Thanks!

[2021-01-09 20:59] #158 closed

[2021-01-11 10:28] Ten0 opened #161 "0.27 beta9 fails to compile with `blocking` feature"
**To Reproduce**
Steps to reproduce the behavior (ideally with a minimal code sample):
[code]

**Expected behavior**
*compiles*

**Actual behaviour**
[code]

**Environment**
 - Rust version: latest stable (`1.49`)
 - lib version `0.27.0beta9`

**Additional context**
- Using feature `blocking`
- Pinning to `0.27.0-beta8` works

[2021-01-11 11:22] durch commented on #161
@Ten0 thanks for the report, and apologies for the breakage. I neglected to update `blocking` feature for `tokio` ^1. Published `0.27.0-beta10` that should compile as expected.

[2021-01-11 12:51] jplatte commented on #144
Ping @durch, any updates on this?

[2021-01-13 16:53] Ten0 commented on #161
Thanks. This seems to work. I think it would be nice to yank the beta9 still, especially considering the way the versions are ranked (that is, alphabetically after the `-`, making `beta10` appear as a lower version than `beta9`, which by the way, is weird and could probably be a cargo/crates issue): https://crates.io/crates/rust-s3/versions

[2021-01-13 21:21] Ten0 commented on #152
It looks like this could even use a single `reqwest::Client` in a `lazy_static`, given that all requests are made to the same endpoints. This may allow e.g. reusing SSL sessions across several objects, so there's a good chance this would be the best approach.
Also, this may solve your issue with tests.

[2021-01-13 21:21] fredyflores96 opened #162 "Does not work with Minio"
**Describe the bug**
I am not sure if this crate supports connecting to minio but I assume it may have been intended to since minio is on the the keywords listed when I look up the library. I am having lots of trouble making any requests to minio to create buckets or access any files.

**To Reproduce**
Try to connect to any local minio pod and you will end up with XMinioUnknownAPIRequest responses

[2021-01-13 21:40] Ten0 opened #163 "aws-creds's `Credentials` initilaized with `from_instance_metadata` are broken after 6 hours."
**Describe the bug**
aws-creds's `Credentials` initilaized with `from_instance_metadata` are broken after 6 hours, because they expire, as explained here:
https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-iam-roles.html

**To Reproduce**
Initialize `Credentials` with `from_instance_metadata`. Wait 6 hours. Attempt an action that requires these credentials to be valid.

**Expected be

[2021-01-14 10:46] durch commented on #161
Oh interesting, I'll yank it now, need to promote this to stable soon anyway :)

[2021-01-14 10:46] #161 closed

[2021-01-14 10:48] durch commented on #144
Unfortunately not @jplatte, got a bit swamped, will do my best to spend time on it this week

[2021-01-14 10:50] durch commented on #162
Hi @fredyflores96 it should work with `minio` the gotcha is to use `path_style` buckets - [Bucket::new_with_path_style](https://docs.rs/rust-s3/0.26.4/s3/bucket/struct.Bucket.html#method.new_with_path_style)

[2021-01-14 10:52] durch commented on #163
@Ten0 another great catch, I'll look into automatically refreshing these, that is the expected behavior for sure.

[2021-01-14 15:31] fredyflores96 commented on #162
is there a way to send a create bucket request? I know Bucket::create() is meant to do that and I also see that the 0.27.0 - beta(X) have create_with_path_style(). since Bucket::create() doesn't work with minio at this moment. Is there a different way to create a bucket in minio 0.26.4?

[2021-01-15 10:11] durch commented on #162
Yes! It is a bit clunky tough, you need to create bucket first using `Bucket::create()` then use [`Bucket::set_path_style()`](https://docs.rs/rust-s3/0.26.4/s3/bucket/struct.Bucket.html#method.set_path_style) to configure it.

[2021-01-21 11:44] gwierzchowski commented on #162
Approach with `new_with_path_style` does not work either with 0.26.4, or 0.27-beta8/async.
All next calls like: `list_blocking` or `put_object_blocking` end with code 400, and meesage: `400 Bad Request: malformed Host header`.
I'm connecting to minio run locally from docker on Windows 10, and using:
[code]

[2021-01-22 09:29] milenkovicm commented on #162
helper function, something like:

[code]

may help.

it is a copy of `create` with difference of `Bucket::new_with_path_style(name, region, credentials)?;`

`0.27` branch has `create_with_path_style` maybe 0.26 could get it as well, as it wont break interface.

wdyt @durch ?

[2021-01-22 09:55] milenkovicm opened #164 "Error Handling in 0.27"
**Is your feature request related to a problem? Please describe.**

Handling errors with `0.27` gets much harder as methods are returning anyhow trait. It is a step back from `0.26` which had dedicated error(s).

As `rust-s3` is a library change to `anyhow`  will make harder for users to handle errors.

**Describe the solution you'd like**

Have you considering exposing `thiserror` instead of `any

[2021-01-27 18:03] nightmared commented on #164
Hey ! I've being giving this a look today, would you mind tell me what you think of this?
https://github.com/durch/rust-s3/compare/dev...nightmared:thiserror

Also, before opening a PR, I think it would be useful to know if this is a wanted feature (Maybe @durch would prefer keeping `anyhow`?)

As an important note, this is not API compatible with the current 0.27 branch but I guess this is accept

[2021-01-28 09:15] milenkovicm commented on #164
Hi @nightmared,
it looks good to me but it's up to @durch to decide.

Also, I'd recommend you to split the pr to two commits, one addressing thiserror other addressing clippy

[2021-01-29 21:17] durch commented on #162
@milenkovicm I like it in principle, I've been a bit strapped for time, apologies for that, will try and make the update next week

[2021-01-29 21:20] durch commented on #164
@milenkovicm, @nightmared thank you both for the discussion, `anyhow` was mostly a spur of the moment decision. There has been a lot of development around error handling, and I'm sort of still stuck in `error_chain` days. I'm very open to a PR or additional discussion as to how we'd want to handle errors in general.

[2021-01-29 21:21] durch commented on #163
@Ten0 sorry for going AWOL on this, work/life asserted themselves, will try and pick it up next week

[2021-01-29 21:21] durch commented on #144
@jplatte That was one long week, hopefully next one is the one :)

[2021-01-29 22:02] milenkovicm commented on #164
@nightmared did a decent job with on this issue in his branch, maybe that could be a good starting point to address this issue.

[2021-01-29 22:21] Ten0 commented on #163
No worries, thanks for your dedication :)

[2021-02-01 08:15] Jasperav opened #167 "Why was the last version on crates yanked?"
This crate has tokio 1.0 dependency on the 'dev' branch. Why isn't the dev branch merged with master? Currently I have a dependency on the dev branch.

I see on crates.io that the last version is yanked: https://crates.io/crates/rust-s3. When will there be a new crates version?

[2021-02-01 09:19] durch commented on #167
@Jasperav `beta9` was yanked due to #161. There is a `beta10`, but crates.io sorting hides it from the list :/

`dev` branch will be merged to master, and `0.27` will graduate from beta, there are a few more issues and PRs to address before that, and my schedule has been a bit cramped, I've got some tentative plans to get most of the issues closed this week.

[2021-02-04 18:57] #167 closed

[2021-02-05 07:56] rakshith-ravi opened #168 "Update to tokio 1.0 please?"
**Is your feature request related to a problem? Please describe.**
I'm not able to compile rust-s3 with tokio 1.0

**Describe the solution you'd like**
Update tokio deps to 1.0 and reqwest to 0.11 please.

[2021-02-05 18:46] nightmared commented on #168
Please take a look at the 0.27 beta branch (0.27.0-beta10 (https://crates.io/crates/rust-s3/0.27.0-beta10) does use tokio 1.0).

[2021-02-06 09:37] durch commented on #162
@milenkovicm, I've added a [minio test](https://github.com/durch/rust-s3/blob/3662f0c2ac2c7d9fe88287023e6e40ddd49a9550/s3/src/bucket.rs#L1974), and it passes in 0.27.0-beta10, I wonder if you could try that version and report back. Thank you

[2021-02-06 09:40] #168 closed

[2021-02-06 09:55] milenkovicm commented on #162
Hi @durch I don't quite understand your comment. @gwierzchowski complained that create_with_path_style does not work (not available) in 0.26 and I suggested if you could backport it from 0.27 to 0.26. That would help with minio integration

[2021-02-07 21:25] durch commented on #144
@jplatte just published `0.27.0-beta11` which has a `never-encode-slash` feature which should eliminate the need for any workarounds on your end

[2021-02-08 10:50] durch commented on #162
Reading that back, its quite unclear :), sorry about that.

What I'm saying is that I can't reproduce the `minio` failures in `0.27.*`. I'd rather avoid adding patches to 0.26 so I've added a test for the common operations and it seems to be passing, I need some help to get it to fail :)

I'm running `minio` in a docker:

[code]

After creating the `rust-s3` bucket I can run `PUT`, `GET` and `DELE

[2021-02-08 10:56] milenkovicm commented on #162
I think it works well with `0.27` the problem is with `0.26` as he pointed out in his comment.

[2021-02-09 06:32] rakshith-ravi commented on #168
Thank you :D

[2021-02-10 11:59] durch commented on #162
I that case I'd nudge everyone towards an upgrade to 0.27, it'll be out of beta soon-ish :). Closing for now @fredyflores96 please reopen if you feel we can do something else here

[2021-02-10 11:59] #162 closed

[2021-02-10 12:33] #144 closed

[2021-02-10 14:04] jplatte commented on #144
Why is it an optional feature rather than the default behaviour?

[2021-02-12 10:58] Fleshgrinder opened #169 "CVE-2020-35922"
The project is using a dependency with a security vulnerability, see [CVE-2020-35922](https://www.whitesourcesoftware.com/vulnerability-database/CVE-2020-35922). The following screenshot shows the exact chain and is what WhiteSource reports on one of our repositories.

![Screenshot 2021-02-12 115620](https://user-images.githubusercontent.com/1059453/107760086-835e1580-6d29-11eb-96d7-c99f13024a95.p

[2021-02-16 19:57] gwierzchowski commented on #162
@durch, @milenkovicm . I'm sorry but maybe I introduced some confusion.
I finally tracked down that my error (code 400) was because spare slash in endpoint string: `http://localhost:9000/`.
That said I think error handling could be improved, as by symptoms it was not obvoius where the problem was.
Here I my suggestion what could be done:
- `new_with_path_style` could work in way more similar to `c

[2021-02-18 08:17] nightmared commented on #169
rust-s3 uses request 0.11 since the `0.27.0-beta10` (which was released prior to this analysis, but maybe you didn't see it because crates.io hides the most recent beta versions, for some display reasons). So I guess we're safe (in addition, running `cargo tree` locally show that I'm getting mio 0.7.7, which is not impacted).

[2021-02-18 08:25] Fleshgrinder commented on #169
[beta8](https://crates.io/crates/rust-s3) is indeed still the latest release that is listed on crates.io. Is there any place where we can see the actual latest release? The [releases](https://github.com/durch/rust-s3/releases) page only lists the stable releases. The [Cargo.toml](https://github.com/durch/rust-s3/blob/fb5cf415e89d75673e7501abe0c66707b0ff6395/s3/Cargo.toml#L3) contains a totally dif

[2021-02-18 08:27] nightmared commented on #169
You can see all of them on https://crates.io/crates/rust-s3/versions (it's just that the default page does not consider the age of the versions but only their names I think, "beta10" being longer that "beta9" or something like that ?).

[2021-02-18 08:30] Fleshgrinder commented on #169
Thanks!

Seems like a string sorting algorithm is used (which makes sense since it's almost impossible to find a sorting strategy that is going to work for all possible versions). [SemVer](https://semver.org/) uses `beta.1` as example, not sure if that would fix the sorting though.

[2021-02-24 09:52] durch commented on #169
We'll be out of beta soon enough so the versioning thing will be behind us. @nightmared thank you for taking this on :)

[2021-02-24 09:52] #169 closed

[2021-03-03 08:43] manjeetsingh10 opened #171 "S3Error does not implement Send and Sync"
I am not able to use this crate in Async Environment.

**Environment**
 - lib version: I have imported the master branch in Toml file.

**Error**
[code]

[2021-03-04 09:32] chuigda opened #172 "Add an API `put_object_stream_with_content_type`"
**Is your feature request related to a problem? Please describe.**
By this time, `put_object_stream` only supports `octet/stream`, while only non-stream version `put_object_with_content_type` provides utility of setting custom content types.

**Describe the solution you'd like**
I'd like to see a `put_object_stream_with_content_type` added to this repository.

**Describe alternatives you've consid

[2021-03-05 09:55] durch commented on #171
@manjeetsingh10 this should be solved on the `dev` branch, or the latest `beta` published on crates.io -> `0.27.0-beta11`

[2021-03-05 12:22] doivosevic opened #173 "Is there a way to do a ListBuckets?"
Hey,
I've been rereading the docs and the source code but I don't get if this is supposed to be supported or not.
I'm wondering if this lib should allow getting https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListBuckets.html
Could you please update the readme with some info about which parts of the S3 api is supported?

[2021-03-05 13:49] rakshith-ravi commented on #168
It would appear that the `rust-s3` crate depends on an older version of `reqwest`, (`v0.10.10`, specifically), which depends on tokio 0.2. If we can just update that to the newer version of reqwest, this issue would be resolved. When I run this right now, it throws an error and panics saying that the reqwest network call wasn't called from the context of a tokio 0.2 runtime, because it was called

[2021-03-05 13:54] nightmared commented on #168
The optional dependency of 0.27.0-beta10 is reqwest >=0.11 (per https://crates.io/crates/rust-s3/0.27.0-beta10/dependencies), which relies on tokio 1.0 if I'm not mistaken. Have you tried a recent beta (https://crates.io/crates/rust-s3/versions)?
If it still doesn't work, does your own code have itself a dependency on an old version of reqwest (maybe you have two versions of reqwest coexisting)?

[2021-03-05 13:58] manjeetsingh10 commented on #171
This worked, thank you.

[2021-03-05 13:58] #171 closed

[2021-03-05 19:23] jplatte commented on #144
Finally upgraded to tokio 1.0 and rust-s3 0.27.beta11 with `never-encode-slash`, unfortunately still getting signature mismatch errors.

[2021-03-05 20:16] jplatte commented on #144
Went back to my previous fix and that worked again (this time also behind the feature flag): https://github.com/durch/rust-s3/commit/ba26f065f381de057a7922b6006f36b57da71c7a

[2021-03-09 16:27] durch commented on #172
@ICEYSELF thanks for submitting this, let me look into that and report back

[2021-03-11 22:25] Jasperav commented on #167
@durch are there any plans to merge dev to master?

[2021-03-15 09:32] durch commented on #167
There sure are, unfortunately I'm a bit strapped for time. Ideally 0.27 will graduate out of beta in the next two weeks

[2021-03-16 10:44] durch commented on #173
Hi @doivosevic sorry for going MIA on you. Great callout on the ListBuckets method missing. I'll see if I can squeeze that in the next two weeks or so

[2021-03-16 10:58] doivosevic commented on #173
It's no rush. I had to switch to rusoto in the meantime because of deadlines but it would be nice if this lib had that feature at some point

[2021-03-16 18:49] kennetpostigo commented on #163
Question, does this mean accessing buckets after 6 hours will not work and you will need to re-create and populate the bucket every 6 hours?

[2021-03-16 21:34] Ten0 commented on #163
Not "bucket" in the sense of "AWS bucket", but `Bucket` in the sense [`aws_s3::Bucket`](https://docs.rs/rust-s3/0.26.4/s3/bucket/struct.Bucket.html). The struct has to be rebuilt, because the credentials stored inside become invalid after 6 hours so it just stops working.

[2021-03-22 09:11] brainstorm opened #176 "Broken doc links"
Clicking any of the documentation/example links in https://crates.io/crates/rust-s3 results in:

![Screen Shot 2021-03-22 at 8 10 52 pm](https://user-images.githubusercontent.com/175587/111966166-b5de0800-8b4a-11eb-946b-73d9ac2f2152.png)

i.e:

https://docs.rs/rust-s3/s3/bucket/struct.Bucket.html#method.create
https://docs.rs/rust-s3/s3/bucket/struct.Bucket.html#method.tokio_get_object_stream

[2021-03-23 23:36] brainstorm opened #177 "Really use Rustls instead of OpenSSL"
**Describe the bug**

The [docs and README.md state](https://github.com/durch/rust-s3#different-ssl-backends) that swapping between different SSL backends is possible by passing feature flags such as `rustls-tls`, i.e:

[code]

But that feature flag is not there anymore on `0.27.0-beta11` with `async`?:

![Screen Shot 2021-03-24 at 10 51 24 am](https://user-images.githubusercontent.com/175587/1122

[2021-03-24 00:00] brainstorm commented on #177
My fault, forgot to disable the default features, now it works on https://github.com/brainstorm/s3-rust-htslib-bam/commit/efc753b32a42e047a3f007336ba809d6c69dd251

... still, the correct flag that should appear in the README.md should be `tokio-rustls-tls` and not `rustls-tls`, at least on 0.27.0-beta-11

[2021-03-24 00:00] #177 closed

[2021-03-25 09:16] feikesteenbergen opened #178 "S3 throws a duplicate error when fetching tags for an s3 object with multiple tags"
**Describe the bug**
S3 throws a duplicate error when fetching tags for an s3 object with multiple tags

**To Reproduce**
- create s3 object

[code]

## a single tag
- Add the tag `tag1=value1` to the s3 object
- This is fine, expected behavior
[code]

## two tags
- Add the tag `tag1=value1` to the s3 object
- Add the tag `tag2=value2` to the s3 object
- This is not fine, I expect to be able to re

[2021-03-30 12:51] reasv opened #179 "0.27.0-beta11 is replaced by 0.27.0-beta8 by Cargo due to semver standard comparison"
When selecting `rust-s3 = "0.27.0-beta11"` in cargo.toml I noticed my app was panicking, saying tokio 0.2.x was needed.
`beta-11` uses tokio 1.x. But, cargo would automatically install and use `beta8 ` when `beta11` is asked for. This is why it panics.

Current solution is to use `rust-s3 = "=0.27.0-beta11"`

I found out that this is due to semver working with string comparison.
Cargo thinks `beta

[2021-03-30 12:51] reasv commented on #179
https://github.com/reasv/s3test/blob/master/Cargo.toml
Here's a repo that reproduces the problem

[2021-03-31 01:57] KernelErr opened #180 "Handle stream from web framework"
Hi, I've been working on a backend project recently and I want to create an upload API that receives raw file content (binary stream) or multipart form and directly uploads it to the S3 service. So the backend would only handle the data stream and don't store files on disk.
I noticed that web frameworks like Actix-web and Rocket provide a method to directly read body stream, but I don't know how t

[2021-04-04 11:41] vbakc opened #181 "GetObjectTorrent API implementation"
**Is your feature request related to a problem? Please describe.**
In S3 documentation there is an endpoint which returns Torrent for an object, but it is currently not implemented by this crate.

**Describe the solution you'd like**
Implement GetObjectTorrent request.

**Describe alternatives you've considered**
Using `rusoto-s3` crate, but I like this crate more.

**Additional context**
Add any

[2021-04-05 16:09] durch commented on #179
Published `0.27.0-rc1`

[2021-04-05 16:09] #179 closed

[2021-04-08 19:27] #176 closed

[2021-04-08 19:32] durch commented on #180
@KernelErr not sure I understand fully, but you should be able to use [put_object_stream](https://docs.rs/rust-s3/0.27.0-rc1/s3/bucket/struct.Bucket.html#method.put_object_stream). Its generic over `Read|AsyncRead` so you should be able to pass a `&[u8]` to it directly.

[Helpful Stack Overflow thread](https://stackoverflow.com/questions/42240663/how-to-read-stdioread-from-a-vec-or-slice)

[2021-04-08 19:34] durch commented on #181
@vbakc thanks for raising this, I'll see what I can do, I have some time over the next couple of days :)

[2021-04-08 19:57] #181 closed

[2021-04-08 19:58] durch commented on #181
Turned out to be pretty trivial, let me know how if it works as expected. Released as `0.27.0-rc2`

[2021-04-08 19:59] durch commented on #178
@feikesteenbergen thanks for raising this, and sorry for the wait. This indeed does not look right, let me see what I can do

[2021-04-08 20:57] durch commented on #178
So this comes down to xml and serde and Rust. All in all a pretty disappointing story. TLDR serde can't really handle XML, I've switched to DOM for xml parsing and so far so good, fix will be published as `0.27.0-rc3`

[2021-04-08 21:05] #178 closed

[2021-04-09 14:59] krlohnes opened #185 "Tag `key()` and `value()` methods missing from 0.27.0-rc3"
**Describe the bug**
There is no way to access `key` or `value` since they are private fields in the `Tag` struct and the `key()` and `value()` methods seem to have been removed.

**To Reproduce**
[code]

**Expected behavior**
I should be able to access `key` and `value` in the Tag struct as either public fields or a public method

**Environment**
 - Rust version: Any
 - lib version `0.27.0-rc3`

[2021-04-09 17:41] krlohnes opened #187 "Missing Namespace error when trying to retrieve tags"
**Describe the bug**
A panic happens when trying to retrieve tags from minio

[code]

Here's [a link to the line number](https://github.com/krlohnes/rust-s3/blob/add-key-value-tag-methods/s3/src/bucket.rs#L1166)
**To Reproduce**
Upload something to minio with a tag and try to retrieve the tag.

**Expected behavior**
The tag retrieval shouldn't panic

**Environment**
 - Rust version: `1.49`
 - lib

[2021-04-10 08:15] vbakc commented on #181
@durch thank you) I'll submit bugs if there are any as soon as we get staging server running

[2021-04-10 13:29] Jasperav opened #188 "Reuse creation of Client"
Currently a new Client is created for each time a request is made, e.g.: https://github.com/durch/rust-s3/blob/69e3efe3a7219bc9d2aab8535b74265642e22d45/s3/src/request.rs#L77

The documentation of Client tells us that the Client should be reused: https://github.com/seanmonstar/reqwest/blob/7d8c32784e543b1a2b9536a70db466c0250876c2/src/async_impl/client.rs#L54

It is better for performance to cache.

[2021-04-11 12:20] KernelErr commented on #180
Thanks, I think maybe writing a function to convert the stream would work. Sorry, I just started to learn Rust and it's my misunderstanding about this language.

[2021-04-11 12:20] #180 closed

[2021-04-11 20:48] #185 closed

[2021-04-11 21:03] durch commented on #187
@krlohnes thanks for raising this, I expect this happened when the object had not tags, should be fixed in `0.27.0-rc4`

[2021-04-17 20:46] ericseppanen opened #191 "Missing git tag for 0.26.4, 0.27.0-rc4"
The most recent stable `rust-s3` release on crates.io is 0.26.4.

However, there is no git tag for 0.26.4 so it's not clear what code is in that release.

Could you please tag releases in git when publishing?

[2021-04-19 04:07] rogercloud opened #192 ""with-async-std" feature still depends on Tokio runtime"
**Describe the bug**
Tokio runtime is also a dependency after enabling feature "with-async-std" and turning off default features.
The root cause is the hyper-client in surf depends on Tokio runtime, other runtime such as smol will panic. Replacing the hyper-client to h1-client is a possible workaround.

**To Reproduce**
Steps to reproduce the behavior (ideally with a minimal code sample):
[code]
T

[2021-04-19 17:34] durch commented on #187
Closing, please reopen if the issue is still present

[2021-04-19 17:34] #187 closed

[2021-04-20 06:09] feikesteenbergen commented on #178
@durch thanks for fixing this and working on this crate.

[2021-04-24 04:10] ahrens commented on #188
I think this relates to (perhaps duplicates?) https://github.com/durch/rust-s3/issues/152.

[2021-04-26 05:48] liam-prog opened #194 "Could not deserialize result"
**Describe the bug**
Could not deserialize result

**Environment**
 - Rust version: [e.g. `1.53.0-nightly`]
 - lib version [e.g. `0.26.4`]
 - minio version RELEASE.2021-04-22T15-44-28Z

**Additional context**
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: S3Error { description: Some("Could not deserialize result"), data: Some("<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<L

[2021-04-27 08:09] mwnDK1402 commented on #128
It was a little hard to find this answer, would be great if this were in the README.

[2021-04-30 15:25] doivosevic commented on #173
check rusoto. its bare bones wrapper over the s3 api but its really all you
need most of the time

On Fri, 30 Apr 2021, 17:23 Robert Schütte, ***@***.***> wrote:

[2021-05-07 09:17] slckl commented on #164
Right now `0.27` feels like a downgrade of sorts with loss of custom error types.
`thiserror` would be strongly preferable to `anyhow` in error handling.

is there maybe something that can be helped with to get #189 over the line?

[2021-05-10 05:52] doivosevic commented on #173
Also there is now the official library
https://github.com/awslabs/aws-sdk-rust

On Fri, Apr 30, 2021 at 5:25 PM Dominik Dito ***@***.***> wrote:

[2021-05-10 23:20] Parth opened #196 "malformed urls in 0.27.0-rc4"
# Bug

Our integration tests are failing in `0.27.0-rc4` but not in `0.27.0-rc3`:

[code]

The `Bucket` was created with `new_with_path_style`, however `d4d571a9-6870-4eb9-8e48-beafa437bddf-1620686849728` is the name of the `Resource` we're trying to `put`, not the name of the bucket.

Downgrading to `0.27.0-rc3` solves this. We're forced to be on 0.27 due requiring `tokio 1.0`.

[2021-05-10 23:20] Parth commented on #196
This is also working fine in 0.26

[2021-05-11 02:50] ericseppanen commented on #191
`0.27.0-rc4` is also missing a git tag.

[2021-05-13 21:01] kruserr opened #197 "Tokio dependency conflict with rust-s3 0.26.4 and warp 0.3"
**Describe the bug**
Tokio async `bucket.list` fails with the following error:
[code]

**To Reproduce**

[code]

Cargo.toml
[code]

src/main.rs
[code]

[code]

**Expected behavior**
We should be able to use rust-s3 inside a warp 0.3 project.

**Environment**
 - rustc 1.52.0
 - rust-s3 = 0.26.4
 - minio

**Additional context**
Downgrading dependencies works but is suboptimal.
[code]

[2021-05-23 13:28] TilBlechschmidt commented on #164
I'd like to add to this that the current use of `anyhow` in `0.27` seems to be broken as well. In the following output I printed the current `anyhow::Error` using `println!("{}")` first and then manually running down the `.cause()` chain.

It seems that on each layer, the previous error has been converted to a string and then embedded into the next error up the chain.

Using `anyhow`'s implementat

[2021-05-23 17:20] echelon opened #198 "Can't upload to GCP bucket paths containing directories in 0.27.* series"
Hey, thanks for all the hard work maintaining this project @durch ! It's been super useful for me.

I recently ran into an issue on the 0.27 series,

**Describe the bug**

PUT object for bucket paths containing `/` fail in 0.27, but succeed in 0.26.4.

**Logs under 0.26.4**
[code]

These uploads succeed.

Using the same code under 0.27.0-rc3 :

[code]

These uploads fail.

**Environment**
 - Rust

[2021-06-14 10:17] Ten0 opened #199 "Hitting "Not an EC2" instance initialization errors on ECS instances"
Some of our ECS tasks running on AWS fail to initialize because the credentials fail to initialize due to:

https://github.com/durch/rust-s3/blob/ae166bad53c25c88b9d3784fb816783142400567/aws-creds/src/credentials.rs#L229-L231

[The AWS documentation](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/identify_ec2_instances.html) seems to say that [this method](https://github.com/durch/rust-s3/blo

[2021-06-17 13:54] Linuxpizi opened #201 "create client support timeout"
oss client for other language eg: go, support timeout argument, can rust support timeout argument ?

[2021-06-21 18:24] poul1x opened #202 "Please, implement Copy operation on structs "Credentials", "Region""
**Is your feature request related to a problem? Please describe.**

Look at my code:

[code]

It does not compile, because `creds` and `region` are moved in first `Bucket::new_with_path_style` call:

![image](https://user-images.githubusercontent.com/31695750/122808968-2d503e80-d2d6-11eb-88ca-92707871b9ef.png)

**Describe the solution you'd like**

Implement `Copy` operation on "Credentials", "Reg

[2021-06-22 18:30] galeone opened #203 "bucket.list doesn't work"
**Describe the bug**
The listing methods (both async and blocking) always return an empty list (empty `content`).

**To Reproduce**

[code]

**Expected behavior**
It should behave like the s3 cli:

[code]
The execution of this command gives me
[code]

that's the content of the root of my bucket and that's what I expect from the `.list` method.
I also tried with ` bucket.list("".to_string(), Some("

[2021-06-23 18:43] cfsnyder opened #204 "Bug with canonical encoding of query strings for v4 signature"
**Describe the bug**
Canonical encoding of query string is sometimes incorrect due to sorting after encoding and concatenating key/value.

**To Reproduce**
The current code sorts a query of "key&key-with-postfix" as "key-with-postfix=&key=" due to the fact that it is actually sorting these values ["key=", "key-with-postfix="].

**Expected behavior**
The correct canonical encoding for the above exa

[2021-06-27 11:58] #201 closed

[2021-07-20 17:39] jorgecarleitao opened #206 "`get_object_range_blocking` can return more bytes than requested"
**Describe the bug**
`get_object_range_blocking` can return more bytes than requested

**To Reproduce**

[code]

This fails.

**Environment**
 - `rust-s3 = { version = "0.27.0-rc4", features = ["blocking", "tokio"] }`

[2021-07-20 17:43] jorgecarleitao opened #207 "Make `get_object_range_blocking` not allocate"
When calling `get_object_range_blocking` multiple times, we often can re-use `Vec<u8>` between calls. However, the function signature does not allow to pass a buffer to be re-used.

There are at least two ways to handle this:

1. change signature to `get_object_range_blocking<W: std::io::Write>(..., writer: &mut W)`, so that bytes can be written directly to the writer
2. change signature to `get_o

[2021-07-30 19:17] zhuxiujia opened #208 "error sending request for url (http://gcb.127.0.0.1:9000/): error trying to connect: dns error"
```error sending request for url (http://gcb.127.0.0.1:9000/): error trying to connect: dns error.```

create  bucket  fail. use ```Bucket::create()``` ( MinIO)

but , use  upload and  download is successful.

[2021-08-13 19:58] sempervictus opened #212 "Async causes OOM when transferring from faster sources than destinations"
**Describe the bug**
In a use case where messages are being streamed off a queue and dispatched via this library, `async` calls result in unbounded memory growth, file descriptor exhaustion, and absurd object commit measurements. So a Tokio main calling the following:
[code]
results in the observed duration being ~9s, memory growing non-stop until OOM, and an 8c system uploads to a single minio @

[2021-08-13 23:22] sempervictus commented on #212
To expand on this a bit - based on the counter of messages dequeued and the counter of messages which complete the S3 write, it _looks_ like the async model keeps dequeuing forever spawning new threads which are blocked on the S3 client's commit times. Rayon doesn't seem to allow `spawn(async move ||` like Tokio does... so i can't easily mix and match thread pools with `async move` threads (havent

[2021-08-14 00:58] sempervictus commented on #212
When it doesn't OOM in `async` it does this `source: hyper::Error(Connect, ConnectError("tcp connect error", Os { code: 24, kind: Uncategorized, message: "No file descriptors available" })) })) }', src/main.rs:530:44` and that's when limits.conf says
[code]

[2021-08-14 18:20] sempervictus commented on #212
Confirm that its the client - using a **single threaded** RusotoS3 async implementation, i see with negligible CPU utilization (as opposed to walled with this client):
![image](https://user-images.githubusercontent.com/1331084/129456616-6e86d185-1e77-49d5-94db-5ec93a876e62.png)
Their `async` version works this well as:
[code]
I'm guessing there's a blocking call somewhere in the bowels of this cli

[2021-08-14 22:40] sempervictus commented on #212
Using `tokio::spawn(async move ||` for every message now yields ~100msg/sec using the rusoto lib and bottlenecked at the small minio host hitting 30% iowait. While switching S3 libs has solved my individual problem, it seems there are issues with this one which have been skylined by my experienece and may need redress to avoid similar headaches for other developers.

[2021-08-24 15:50] dtzxporter opened #213 "get_object should also return the requests headers (content-type, etc) so you don't need to make two requests"
**Is your feature request related to a problem? Please describe.**
get_object doesn't return the request information.

**Describe the solution you'd like**
get_object should also return the same as head_object in one request.

**Describe alternatives you've considered**
N/a

**Additional context**
N/a

[2021-08-28 15:11] veeso commented on #203
Hi,

I had the same problem, but changing the list command to `bucket.list(String::default(), Some("/".to_string())).await?;` worked for me to search for objects from the root. I think that's because all paths in s3 doesn't start with `/`, so searching for a path under `/` will return nothing I guess 🙄 .

[2021-08-31 07:13] galeone commented on #203
I endedp switching to [rusoto_s3](https://crates.io/crates/rusoto_s3/0.46.0).
You can see in bacup how [I use it](https://github.com/galeone/bacup/blob/main/src/remotes/aws.rs#L164) for enumerating the objects and it works fine

[2021-09-30 08:23] feikesteenbergen opened #216 "Cannot upload objects larger than a few MB using `put_object_stream_blocking`"
**Describe the bug**
When:
- uploading a large object with `put_object_stream_blocking`
- a large file (> 4MB)
- with a custom header (without the custom header, the bug does not trigger)
- I receive a status code 200
- however the file is not uploaded to s3
- I do see `400 Bad Requests` being logged by the `reqwest` crate.

Switching to `put_object_blocking` solves the issue.

**To Reproduce**
[c

[2021-09-30 08:38] feikesteenbergen commented on #216
Full reproduction scenario:

*Cargo.toml*
[code]

*main.rs*
[code]

*Reproduce*
[code]

*working part*
[code]

*broken part*
[code]

*Smaller files work just fine*
[code]

[code]

[2021-10-12 01:47] Corallus-Caninus opened #224 "Documentation doesnt link in Readme"
clicking List hypertext in Readme.md leads to a page not found.

[2021-10-12 01:48] Corallus-Caninus commented on #224
Delete this, link works just not when opening in new tab.

[2021-10-12 01:48] #224 closed

[2021-10-31 21:57] ghost opened #232 "Support OVH S3 Object Storage"
**Is your feature request related to a problem? Please describe.**
OVH provides [S3 Object Storage solution](https://www.ovhcloud.com/en/public-cloud/object-storage/), supporting the service would be help us who using the service

**Describe the solution you'd like**
I would like to access OVH S3 storage

[2021-11-08 05:15] echelon commented on #198
@durch Not sure what your bandwidth looks like, but I'd be happy to pay a bug bounty to have this fixed. 🥺 🙏

Totally understand if there isn't any time on your end.

[2021-11-12 21:26] njaard opened #240 "get_object_stream_blocking requires async"
**Describe the bug**
The function `get_object_stream_blocking` is based on `pub async fn get_object_stream<T: AsyncWrite + Send + Unpin, S: AsRef<str>>(&self, path: S, writer: &mut T)`

So when you try to use `get_object_stream_blocking`, the `writer` parameter is still an AsyncWrite. It should be a regular `Write`.

**To Reproduce**
Try to use `get_object_stream_blocking("/", &mut std::io::stdout

[2021-11-15 09:07] durch commented on #240
You're right, this has just changed recently, I'm looking into making it more generic

[2021-11-15 09:11] durch commented on #232
@grubeli this should be a  matter of adding regions only, I've briefly looked at the OVH site and could not find a list of regions, I'd be happy to merge a PR, something along the lines of what was done over [here](https://github.com/durch/rust-s3/pull/235)

[2021-11-15 09:16] durch commented on #216
Interesting, tests try 10mb objects, I'll look into this

[2021-11-29 14:04] zhuxiujia opened #241 "panic for https://github.com/durch/rust-s3/blob/master/s3/src/surf_request.rs(line 63)"
https://github.com/durch/rust-s3/blob/master/s3/src/surf_request.rs     (line 63)
[code]

[2021-11-29 14:04] zhuxiujia commented on #241
2021-11-29 22:01:38.398548300 UTC    WARN isahc::handler - request completed with error: CouldntResolveHost: couldn't resolve host name   (C:\Users\zhuxi\.cargo\registry\src\github.com-1ecc6299db9ec823\isahc-0.9.14\src\handler.rs:274)
thread 'actix-rt:worker:0' panicked at 'called `Result::unwrap()` on an `Err` value: CouldntResolveHost: couldn't resolve host name', C:\Users\zhuxi\.cargo\registry\

[2021-12-10 14:18] jplatte opened #243 "Why two separate HTTP client libraries?"
When using rust-s3, you pull in two HTTP client libraries: reqwest (from the s3 crate) and attohttpc crate (from aws-creds). Is there a reason these aren't using the same crate?

I'd personally prefer reqwest to be used for both, since that's what other projects we depend on use as well (sendgrid, sentry).

[2022-01-02 06:06] rommelparasar commented on #203
Newbie question....
How do I print the results? Do I need to define lifetime of results?
[code]

I'm getting this error:
[code]

[2022-01-22 15:28] PieterVanZyl-Dev opened #245 "Missing AWS Region - Africa (Cape Town) af-south-1"
**Describe the bug**

AWS Now has an AWS region in Cape Town South Africa

**To Reproduce**
 Try the af-south-1 region

**Expected behavior**
 af-south-1 region should resolve to a valid url and not panic

 Doesn't seem to be in this list
 https://github.com/durch/rust-s3/blob/75e2eb3dd9acfa5c1add4893ce64569dbac6d4f0/aws-region/src/region.rs#L98

[2022-01-24 12:36] Meph1587 opened #246 "Build fails after rust version 1.58.1 form 01-20-2022"
**Describe the bug**
After updating rust to `1.58.1` with `rustup update` build of this crate fails

**To Reproduce**
make project with `rust-s3: 0.28` as dependency and compile with new version of rust

**Expected behavior**
Should compile

**Environment**
 - Rust version: [e.g. `1.58.1`]
 - lib version [e.g. `0.28`]

**Additional context**
[code]

[2022-01-25 20:58] #241 closed

[2022-01-28 10:35] jplatte commented on #246
This seems like a regression in rustc, has somebody opened an issue on [rust-lang/rust](https://github.com/rust-lang/rust)?

[2022-01-31 14:03] Ten0 commented on #199
Should be resolved by https://github.com/durch/rust-s3/pull/200#issuecomment-939538001

[2022-01-31 14:03] #199 closed

[2022-02-03 18:59] silvestrpredko opened #251 "Add support for ListBuckets API"
**Is your feature request related to a problem? Please describe.**
I faced a problem that I couldn't check if the bucket exists or not. Also, it would be nice to get a list of buckets for other purposes.

**Describe the solution you'd like**
Would be nice to have an API where I could pass credentials and region, then it returns a list of buckets.
Actually, this request is in [S3](https://docs.aws.

[2022-02-04 23:57] jplatte commented on #246
I think this was fixed a few nightly releases back.

[2022-02-10 03:22] woonoow opened #252 "Uploading files is slow"
Uploading files using `put_object_with_content_type` method is slow

[2022-02-10 07:13] #252 closed

[2022-02-12 21:04] durch commented on #246
@jplatte thanks for being on top of this!

[2022-02-12 21:04] #246 closed

[2022-02-12 21:48] durch commented on #243
@jplatte, since `aws-creds` use only sync requests, it pulls `attohttpc` which is lighter. With the right combination of features, `reqwest` does not get pulled at all

[2022-02-12 22:03] durch commented on #202
@poul1x I completely agree that it would be nicer to have `Copy`, but since `Region` can hold strings, implementing `Copy` is not trivial, not sure when and if this will get done

[2022-02-12 22:05] #245 closed

[2022-02-15 20:23] kallisti5 opened #255 "Could not parse HOST header value s3.wasabisys.com"
**Describe the bug**
Code that was previously working on 0.26 is broken on 0.29.

* s3_endpoint is https://s3.wasabisys.com
* s3_region is us-east-1
* s3_bucket is haiku-repositories-us

**To Reproduce**
[code]

Result with
  ```let bucket = Bucket::new(&config.s3_bucket.unwrap(), region, credentials)?;```

```Could not parse HOST header value s3.wasabisys.com```

Result with
 ```let bucket = Buck

[2022-02-15 22:42] kallisti5 commented on #255
This was a bug on our side.  We weren't sanitizing the inputs well enough and each String had a newline at the end of it which seems to *really* piss off rust-s3 0.29 :-)

Resolved on our end... however maybe the crate should sanitize inputs too?

[2022-02-16 11:37] durch commented on #255
Thats a good idea, I'll look into it for sure

[2022-02-28 18:17] nicoulaj opened #258 "SignatureDoesNotMatch error when using SSE-C with Minio"
**Describe the bug**
When trying to add the SSE-C headers to requests with a Minio server, all requests fail with a `SignatureDoesNotMatch` error. The same code works fine without SSE-C.

**To Reproduce**
[code]

**Expected behavior**
Test succeeds

**Environment**
 - Rust version: `1.59.0`
 - lib version: `0.29.0`

**Additional context**
 When comparing with the same request the `mc` minio client

[2022-02-28 19:24] nicoulaj commented on #258
If that helps, here is the same test working using `rusoto_s3`:

[code]

[2022-03-08 14:14] dhbradshaw commented on #203
Here's my current understanding from a few smoke tests, which confirms the above:
1. get, put, and delete seem to ignore an initial `/` in a key.
2. however, adding `/` at the beginning of a key leads to an empty list.

[2022-03-09 02:41] iamsiddhant05 opened #260 "Exposing error in form of `thiserror` instead of `anyhow`"
**Is your feature request related to a problem? Please describe.**
The error trait is not exposed in the library, which makes it difficult to unwrap and bubble up.

**Describe alternatives you've considered**
An alternate would be if you could expose a custom `RustS3Error` trait for error handling

[2022-03-15 11:32] ggslayer opened #261 "is there any plan to reuse the reqwest client?"
It's too bad for me that the dns requery when every http request if not resue the reqwest client, and http tcp connect every time is waste.

I want to know if there is time plan to reuse the reqwest client?  Thank you very much!

Or if there is no plan , please give me some advise to modify the code, and i will write and test it myself.  thankyou very much!

[2022-03-17 07:08] attila-lin opened #263 "add support the `cors` api"
**Is your feature request related to a problem? Please describe.**

the api with put/get/delete bucket cors.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[PutBucketCor](https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketCors.html)
[GetBucketCors](https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketCors.html)
[DeleteB

[2022-03-18 19:21] njaard opened #264 "default Bucket::request_timeout too low, or shouldn't be based on full transfer time"
**Describe the bug**
When doing a `Bucket::get_object_stream`, if the file is very large, it will exceed the `request_timeout` and the download will fail.

I think this behavior violates the principle of least surprise; right now rust-s3 simply cannot be used by default on large files or slow or high-latency connections.

**To Reproduce**
[code]

This command will fail with `TimedOut`.

**Expected

[2022-04-01 06:38] attila-lin opened #266 "support API GetObjectAttributes"
**Is your feature request related to a problem? Please describe.**
support [API GetObjectAttributes](https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetObjectAttributes.html)

**Describe the solution you'd like**
no

**Describe alternatives you've considered**
no

**Additional context**
no

[2022-04-06 19:05] blackghost1987 commented on #260
Yeah, this was a bit surprising for me! The `anyhow` crate explicitly states that it should be used for application code and libraries should use `thiserror` instead.
Also my upstream library is using `thiserror` as well, but because of this crate I had to import `anyhow` as well, just so I could encapsulate it with `thiserror`.

This looks like a good first contribution, I'll see if I'll have the

[2022-04-20 11:36] nightmared commented on #260
In the past, I already tried to add this to rust-s3: https://github.com/durch/rust-s3/pull/166. Maybe this could serve as a useful basis if you desire to implement it and want to get it merged (something I failed to do, given that my PR was closed without explanations?).
In any case, I second the fact that this would be a very useful feature!

[2022-04-20 11:37] nightmared commented on #260
Sorry, wrong link, the most recent PR on the matter is https://github.com/durch/rust-s3/pull/189.

[2022-04-21 20:11] durch commented on #261
@ggslayer I don't have any plans at the moment, I'll be very happy to review a PR, as long as it does not make the API a hassle, we can probably get away with passing an optional client argument to Bucket or bucket methods. Keep in mind that it also needs to work for `async-std` which does not use `reqwest`

[2022-04-21 20:14] #204 closed

[2022-04-21 20:15] durch commented on #203
@dhbradshaw this might have been addressed with recent fixes to slash encoding

[2022-04-21 20:16] durch commented on #197
@kruserr I believe this is now fixed with tokio 1.0 support

[2022-04-21 20:16] #197 closed

[2022-04-21 20:17] durch commented on #196
@Parth this might have been fixed with recent fixes to slash encoding, I'd appreciate another test with 0.30 or 0.31

[2022-04-21 20:40] durch commented on #264
@njaard I'm not sure how to address the issue, other then with a timeout, and since timeouts must exist there has to be a default. Since the timeout is in the underlaying implementation of HTTP clients used. Timeout for a bucket can be changed with a method, or at creation (since 0.31). I think I remember that in the days of yore the default timeout was `None`, which could cause the request to jus

[2022-04-21 21:53] dhbradshaw commented on #203
I just ran the smoke test using versions .28 and .30 and had the same list issue.
Is the fix newer than .30?

Basically, if you save an object using put with a key of `/file.txt` it will show up as `file.txt`.
Then if you look for it with a list prefix `/file.txt` you won't see it.
But the list prefix is `file.txt` it will show up.

[2022-04-21 22:10] #260 closed

[2022-04-22 17:13] njaard commented on #264
I think a more ergonomic default is "30 second connection timeout and unbound download timeout".

I think it's unfortunate that hyper has a timeout, and it appears that you're just following its lead, so I conducted a survey of other http libraries:

# Has no default timeout on total transmission
* curl
* python's urllib
* Go's http client
* Java, 5 minute connection or inter-packet timeout, but n

[2022-04-22 20:52] njaard commented on #264
Well, obviously this is a problem for upstream, for example: https://github.com/seanmonstar/reqwest/issues/870 so I'll close this ticket with my thanks!

[2022-04-22 20:52] #264 closed

[2022-04-24 14:13] durch commented on #264
Thank you, I love a good discussion :)

[2022-04-24 14:14] durch commented on #264
I’ve been actually thinking about moving away for reqwest, if there are other tokio compatible libs out there I’d be happy to give them a whirl

[2022-04-29 22:09] gsollazzo opened #269 "Error: SerdeXml(Custom { field: "missing field `Name`" }) with MinIO"
**Describe the bug**
When running this minimal MinIO example (taken from [https://github.com/durch/rust-s3/blob/master/s3/bin/simple_crud.rs]( https://github.com/durch/rust-s3/blob/master/s3/bin/simple_crud.rs) with some adaptions due to deprecated functions), the listing fails with ``"Error: SerdeXml(Custom { field: "missing field `Name`" })"``

No requests are logged from MinIO "Watch" console.

[2022-05-20 05:23] anomalyze commented on #269
Just FYI, i had this exact same issue with an S3 bucket. I didn't actually require the feature, so i stopped debugging it sorry.

[2022-05-21 08:53] KavikaPalletenne opened #271 "Connecting to Cloudflare R2 - get "Unauthorized" with presign get and put"
I am trying to connect to my R2 bucket with the rust_s3 package. However, the presigned put and get URLs come up as “Unauthorized” when using then. Is there something wrong with my setup? I am not sure if I am using the correct keys for access and secret key. These keys work when using S3 SDK for JavaScript.

[code]

[2022-05-24 08:57] sman908 commented on #213
We also would want this to me implemented for obvious reasons.

[2022-06-01 12:53] gritsenkob opened #273 "put_object_stream returns 200 code even if chunk put object request returns non 200 response code"
**Describe the bug**
If we upload file bigger than CHUNK_SIZE lib use multipart upload. Lib ignore response code of chunk put object request, so if there is an error code in response lib will send other chunk put object requests anyway.

**To Reproduce**
limit minio volume size for example to 100 Mb. Try to upload file bigger than 100Mb to minio using `put_object_stream` function.
`put_object_stre

[2022-06-03 18:24] mihaigalos opened #275 "Get stream API"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Using the `async` flavor, would like to have an API call to get a stream object (implementing trait `futures_core::stream::Stream`) for `GET`/`PUT` a file to a bucket.
This will then be used in a loop to write/read to/from a file and update a progress bar.

**Describe alternatives you've co

[2022-07-19 06:21] wesin commented on #269
anyone who want find some solution, may can use 0.27.0, it seems the lastest sdk can not work with minio.

[2022-07-19 14:15] grizwako commented on #269
Hey, same issue with S3 bucket, running on 0.29.

Bug is not reproducible, every now and then `list_blocking()` fails.

[code]

[2022-07-20 15:16] Tails commented on #269
Same issue on v0.31 when using sync list() with Filebase as S3 provider.

[2022-07-20 16:24] Tails commented on #269
It actually gives you the error when you parse the bytes to a string:

[code]

Of course such a response does not contain the expected field. However, authorization errors should be handled by the library itself. Maybea HTTP status code is returned by the S3 server that is not accounted for, 404 in my case.

[2022-07-20 17:42] durch commented on #269
Errors do need a revamp, I'll have some time in the next few days, will take a look

[2022-07-20 20:33] Tails commented on #269
@durch thank you for your beautiful code! Had a look today and was impressed.

[2022-07-21 20:05] #273 closed

[2022-07-21 20:08] #172 closed

[2022-07-21 20:58] durch commented on #269
This is caused by the `fail-on-err` feature, or rather lack of it, by default we allow everything through, regardless of the response code, I've been thinking on it for a while now, and it probably makes sense to have that as a default feature, principle of least surprise, I'll make it default in `0.32.0`

[2022-07-21 20:58] #269 closed

[2022-07-21 21:00] durch commented on #271
I've still not tested against R2, I've requested beta access a while ago, and never got it. Now that its open access I'll give it a go again

[2022-07-21 21:00] #261 closed

[2022-07-21 21:01] #255 closed

[2022-07-21 21:02] durch commented on #243
`aws-creds` `attohttpc` has been made an optional dependency

[2022-07-21 21:02] #243 closed

[2022-07-21 21:02] #240 closed

[2022-07-21 21:06] durch commented on #212
@sempervictus This is a very interesting rundown, thank you! I apologise for missing it until now, I'll look into the put code, as this is definitely not expected behaviour...

[2022-07-22 02:05] KavikaPalletenne commented on #271
When I was using R2, they did not support presigned URLs. But looking at the forums now, it seems they have added that functionality.

[2022-07-22 15:21] durch commented on #271
There is now a test for R2, and an entry in the `Region` enum, closing

[2022-07-22 15:21] #271 closed

[2022-07-22 15:22] durch commented on #208
@zhuxiujia Create works if there isn't a bucket already, otherwise it will fail with a 409

[2022-07-22 15:22] #208 closed

[2022-07-22 15:23] #143 closed

[2022-07-22 15:36] #202 closed

[2022-07-22 16:32] Ten0 commented on #163
What is this fixed by?

[2022-07-22 17:39] durch commented on #163
It wasn't, I have no idea how this got closed, I probably fat fingered it :/

[2022-07-25 21:26] tomkarw opened #278 "Don't depend on reqwest"
**Is your feature request related to a problem? Please describe.**
I recently tried to remove reqwest as a dependency from a project (using the lower-level hyper::Client which was already required instead). After doing so, I noticed that `reqwest` is still included in the dependency tree due to its use in `rust-s3`.

Using `reqwest` (which relies on `hyper` either way) seems a suitable choice for

[2022-07-26 07:20] durch commented on #278
@tomkarw I like the idea, reqwest is pretty heavy, it might be a lot of work tough, I’m not sure how hyper works with tokio, which is the feature that is pulling reqwest in. I think you can get rid of reqwest by using the `sync` feature with default features off. That should pull attohttpc instead of reqwest.

Regarding I’d be happy to take a PR removing it

[2022-07-26 11:41] KavikaPalletenne opened #279 "Generate S3 presigned post url"
Generate presigned post url so policy conditions like `content-length-range` can be used - https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-HTTPPOSTConstructPolicy.html

Rusoto S3 has an open pull request but it is in maintenance mode - https://github.com/rusoto/rusoto/pull/1807

[2022-07-26 15:27] Ten0 opened #280 "Regression: Can't obtain file body as Vec<u8> without reallocating since "Proper response type""
**Is your feature request related to a problem? Please describe.**
Since https://github.com/durch/rust-s3/commit/0484173489335ad2563dcbd43c269c4fd8275ce1 we can only access the file body as a slice in `ResponseData`.
This requires reallocating the entire file contents if needing to return it as a `Vec<u8>` (for backend-agnostic interface).

**Describe the solution you'd like**
[code]

**Additional

[2022-07-26 15:46] tomkarw commented on #278
I have some experience with doing exacltly the `reqwest -> hyper` transition. I also proposed very similar change to another project that suffered from the same issue https://github.com/open-telemetry/opentelemetry-rust/issues/843.

You can assing this issue to me and I'll work on it.

[2022-07-26 18:36] tomkarw commented on #278
It would seem that merging https://github.com/durch/rust-s3/pull/234 first, might simplify, or even remove the need for this work.

I'll wait and see how that PR proceeds before working on this.

[2022-07-26 22:34] amiller68 opened #282 "Attempting to load Credentials Results in 'NotEc2' Error"
**Describe the bug**
I am trying to load my default AWS configuration. This keeps generating the following error from my tests:

**To Reproduce**
This is the offending line of code:

**Expected behavior**
This should not be generating an error as far as I can tell

**Environment**
 - Rust version: [e.g. `1.62.1`]
 - lib version [e.g. `0.32.1`]

**Additional context**
This is the link to the file:

[2022-07-27 14:22] amiller68 commented on #282
Ok I got around this by just using my keys as input, but I don't think this error is appropriate

[2022-07-27 14:41] durch commented on #282
@amiller68 thats a good callout, it needs better erorr, it first tries to load credentials, from various places, if none are found it tries to get some from the ec2 instance metadata, but it never tells you what its doing, needs better UX for sure

[2022-07-27 15:35] amiller68 commented on #282
Yeah I agree. I figured out what was happening from the source code, but like either:
1.  the Credentials struct relies on Ec2 should be documented (not sure if you contribute to awscreds)
2. or it just shouldn't rely on that lol

I ended up getting to where I needed to be by using hard-coded access keys (not ideal but I can probably work something out with env vars)

@durch do you know a good way

[2022-07-27 17:00] durch commented on #282
I'd suggest defining them in the environment of where you're running this, that way you don't need to code anything in

[2022-07-27 17:04] amiller68 commented on #282
@durch, I was referring to when you eventually have to reference a `awscreds::Credentials` instance when initializing a new s3 client. I almost found a solution with `lazy_static`, but I found I still have to clone the Static struct before passing it to `bucket::new`.

[2022-07-27 17:09] durch commented on #282
You should be able to to `Credentials::default()`, and it would pick them up from the environment.

[code]

[2022-07-29 12:45] Ten0 opened #283 "Presigned links broken as of 0.32"
**Describe the bug**
Presigned links are deemed invalid by AWS as of version 0.32.
They worked fine in version 0.31.

**To Reproduce**
Generate a presigned link in 0.32.
See the following error message back from AWS:
[code]

**Expected behavior**
*works*

**Environment**
 - Rust version: latest stable
 - lib version: `0.32.1`

**Additional context**

Looks like at least the `X-Amz-Security-Token`

[2022-07-29 12:46] Ten0 commented on #283
This would be the culprit:
https://github.com/durch/rust-s3/commit/530e0c27cf781ed20fed41ee82dc044821499a87#diff-fe2e216f9675ca137d41284ea89c484ba7b74ecae726ba79119e6a8f50346b96

[2022-07-29 16:02] #283 closed

[2022-07-29 18:40] Ten0 commented on #283
Shouldn't we also make a release and yank the corresponding versions?

[2022-07-29 19:07] durch commented on #283
We should, and we will :)

[2022-07-29 19:19] durch commented on #280
Version `0.32.3` provide Into<Vec<u8>> for ResponseData

[2022-07-29 19:19] #280 closed

[2022-08-03 15:08] Janrupf opened #286 "STS credentials are broken"
**Describe the bug**
Trying to obtain STS credentials yields a serde error.

**To Reproduce**
Any use of `Credentials::from_sts()`.

**Expected behavior**
Credentials parse successfully

**Environment**
 - Rust version: 1.62.0
 - lib version: 0.32.2

**Additional context**
Serde error: `ParseIntError: invalid digit found in string`

[2022-08-10 14:54] msrd0 opened #288 "Please implement From<ResponseData> for Vec<u8>"
**Describe the bug**
There's an implementation `Into<Vec<u8>>` for `ResponseData`. This means that when Rust can't infer a type, we need to use `<ResponseData as Into<Vec<u8>>>::into(data)`. If there was a `From` impl instead, the `Into` implementation would still be provided but we can write `Vec::from(data)` which is much cleaner.

Probably related to #280

**Environment**
 - Rust version: `1.62

[2022-08-11 19:50] #286 closed

[2022-08-11 20:09] durch commented on #288
@msrd0 this is a valid suggestion, the reason I went with `Into` is that `ResponseData` also has a `status_code` field. So a `From<Vec<u8>>` can't work without introducing ambiguity around the `status_code` field. Open to suggestions around handling it

[2022-08-11 20:11] msrd0 commented on #288
No, I don't mean `From<Vec<u8>> for ResponseData` but `From<ResponseData> for Vec<u8>`. The current `Into` implementation is then provided by the blanket impl in `std`.

[2022-08-11 20:11] durch commented on #164
We've switched to `thiserror` finally :)

[2022-08-11 20:11] #164 closed

[2022-08-12 00:27] szguoxz opened #289 "Obvious put object bug"
It's obvious just by looking at the source code in bucket.cs:

 async fn _put_object_stream_with_content_type<R: AsyncRead + Unpin>(
        &self,
        reader: &mut R,
        s3_path: &str,
        content_type: &str,
    ) -> Result<u16, S3Error> {
        // If the file is smaller CHUNK_SIZE, just do a regular upload.
        // Otherwise perform a multi-part upload.
        let first_chunk

[2022-08-12 09:03] durch commented on #289
@szguoxz I'm not sure what you're getting at, the content-type of the put_object is always `application/octet-stream`, could you please provide an error message, or a snippet that we can reproduce.

[2022-08-12 09:06] durch commented on #288
Oh, I see what you're saying, you're absolutely right, will be pushed out in the next release

[2022-08-12 09:08] #288 closed

[2022-08-12 15:40] szguoxz commented on #289
buddy, there's no error message. :-)
this put_object is called inside: _put_object_stream_with_content_type, so when you call put_object, you need to carry the content type along. Of course, you actually need to use a different function.

[2022-08-12 15:57] durch commented on #289
Oh wow, I see what you're saying, great catch

[2022-08-12 16:00] #289 closed

[2022-08-19 11:44] ArjunGTX opened #291 "Accessing s3 bucket using `tokio-rustls-tls` returns 403 error"
**Describe the bug**
When trying to access s3 bucket using the `tokio-rustls-tls` feature, it is returning 403 (Access denied) as response for `head_object()`  request. The same request succeeded when `tokio-native-tls` was used.

**To Reproduce**
- Include `tokio-rustls-tls` feature
[code]
- Create a bucket with appropriate credentials
[code]
- Invoke the `head_object()` request
[code]
**Expected

[2022-08-25 17:14] michaelmenon opened #293 "S3 pre-signed url for a multipart upload part"
Is there any way to get pre-signed url for an s3 object for a multipart upload given part id and upload id ? Looked at the docs but could not find any thing. Any suggestion or help would be great.

[2022-09-21 14:37] Niedzwiedzw commented on #291
sadly the environment I'm running my app in isn't required to have SSL installed, so I cannot live without it... can I help solve it somehow?

[2022-09-21 16:15] durch commented on #291
@Niedzwiedzw there is a `no-verify-ssl` feature, that might help, it seems that `rustls-tls` has some issues with certain certs, there is a failing test against Digital Ocean spaces that only fails on `rustls-tls`.

Can you give me any more specifics on the environment you're running?

[2022-09-21 16:25] Niedzwiedzw commented on #291
it's running on a windows 10 machine I'm setting up for a local CI for my project, the target S3 is digitalocean, as for `no-tls` feature I'm not sure if it's help, but as far as I can see `no-verify-ssl` didn't help sadly. if reqwests supports no-tls then yeah why not give it a try, I can build from a branch and give it a quick test

[2022-09-21 16:31] Niedzwiedzw commented on #291
hmm `rustls-tls-native-roots` - this feature for `reqwest` might do the trick, I'll give it a quick spin

[2022-09-21 16:42] durch commented on #291
It did not work on the digital ocean test, I've tried it :(

[2022-09-21 16:44] Niedzwiedzw commented on #291
I've added this as a feature on my branch, gonna test in a minute once it builds

[2022-09-21 17:04] Niedzwiedzw commented on #291
yeah, no luck sadly... I'm out if ideas then

[2022-09-21 17:39] durch commented on #291
Can you check if its only head_object() or if other routes are affected as well?

[2022-09-21 17:48] Niedzwiedzw commented on #291
actually in my case it was failing when uploading a specific file

[2022-09-21 19:08] durch commented on #291
Super happy to hear that :)

[2022-09-21 19:13] Niedzwiedzw commented on #291
so for future people who encounter this - it only happens on rustls on windows it seems, but let's wait for other people to confirm

[2022-09-24 16:02] durch commented on #291
There are issues with `tokio-rustls-tls`, Digital Ocean for example has problems as well, it seems that they're related to how certificates are handled, all in all I hope this is something that gets fixed upstream eventually...

[2022-09-24 16:29] #213 closed

[2022-09-24 16:31] durch commented on #293
I'm not sure, I think multipart upload is only an implementation detail, uploaded file is transparently assembled on S3 side. For example if you upload a file that would benefit from multipart upload, library will do it for you automatically...

[2022-09-24 16:31] #282 closed

[2022-09-24 16:35] durch commented on #279
@KavikaPalletenne just implemented this, would be great if you could test it out

[2022-09-24 16:52] durch commented on #279
Closed by https://github.com/durch/rust-s3/commit/f9769f0ee273848b8ac633fe561815a8072ec740

[2022-09-24 16:52] #279 closed

[2022-09-24 16:56] durch commented on #216
@feikesteenbergen unfortunately I can't reproduce this, I've bumped test size to 20mb, still seems to go through fine

[2022-09-24 16:56] #216 closed

[2022-09-24 16:57] #196 closed

[2022-09-24 16:57] #191 closed

[2022-09-24 17:39] Parth commented on #196
@durch thanks for the heads up, we switched entirely away from S3 for the time being.

[2022-09-25 15:15] durch commented on #275
As of `0.33.0-beta1` `get_object_stream` returns a `ResponseDataStream`, which has a `bytes()` method that is `Stream<Item = Bytes>`, I'd appreciate if you could test it out. I expect tokio backend works much better then async-std for tnis

[2022-09-25 15:16] durch commented on #188
Due to the way the request is currently architected, I don't see it happening any time soon

[2022-09-25 15:16] #188 closed

[2022-09-25 15:17] durch commented on #152
Same as #234, while we could add it to `lazy_static` its a bit too magical for my taste, it would be ideal to allow ppl to bring their own client, something I'm thinking through

[2022-09-25 15:17] #152 closed

[2022-09-25 15:18] durch commented on #105
@pwinckles could you please check if we're still seeing issues in 0.33, there have been some improvements to the deserialisation crate

[2022-09-25 15:20] durch commented on #278
I've given up on reusing the client for now, I'm gonna look into using pure hyper, but can't commit to any timelines

[2022-09-25 15:21] #293 closed

[2022-09-25 15:24] durch commented on #198
@echelon could you pls test if this is still the issue with `0.33.0-beta1` release, we've merged slash encoding fixes a while back, and I suspect this might be fixed

[2022-09-25 15:24] #194 closed

[2022-09-25 15:25] durch commented on #173
Tracked under #251

[2022-09-25 15:25] #173 closed

[2022-09-25 16:26] mihaigalos commented on #275
This is awesome. I have an API breaking change where I'm consuming this crate now and would need to first onboard the newest version first.

[2022-09-25 17:30] durch commented on #275
Glad you like it, let me know if/when you get to it :)

[2022-09-25 17:38] #207 closed

[2022-09-25 17:39] durch commented on #207
@jorgecarleitao current master has `get_object_range_blocking_to_writer` method which allows for passing in a buffer generic over `Write`

[2022-09-25 18:03] tomkarw commented on #278
You can let me pick this up if you want. I'll be happy to do so.

[2022-09-25 20:42] durch commented on #278
For sure, go for it!

[2022-09-25 23:17] pwinckles commented on #105
@durch Unfortunately, I am not able to verify the behavior at this time. I am no longer working for the organization that was using the non-AWS S3 implementation that was returning the interleaved elements. Sorry!

[2022-09-26 08:23] durch commented on #105
@pwinckles no worries, thank you :), will close this for now

[2022-09-26 08:23] #105 closed

[2022-09-26 19:10] ololduck opened #297 "MalformedXML on `put_object_stream` with minio"
**Describe the bug**
I am encountering a MalformedXML error when trying to upload a file to a bucket with `Bucket::put_object_stream`.

**To Reproduce**
The minimal example i found to present my issue is from the `put_object_stream` docblock.

First, I launched [minio] with the following command:

    docker run --rm -p 9045:9000 -p 9001:9001 \
        -e MINIO_ROOT_USER=testuser -e MINIO_ROOT_PAS

[2022-09-26 19:27] durch commented on #297
@ololduck I think `minio` buckets still  need to be configured `with_path_style` [like so](https://github.com/durch/rust-s3/blob/b32727c3e20aad4c705f4a998dee663a523bc36d/s3/src/bucket.rs#L2229).

I've added tests for both small and big file streaming and they seem to be passing, so my guess is that its the `path_style` thing

[2022-09-26 21:23] #163 closed

[2022-09-26 21:26] durch commented on #192
@rogercloud we've switched to using `h1-client-rustls`, so I think we're good

[2022-09-26 21:26] #192 closed

[2022-09-27 06:04] ololduck commented on #297
I can confirm that my tests run green using `with_path_style`. I'll try to present a merge request for more docs if i can find some time.

Thank you for your quick response!

[2022-09-27 06:04] #297 closed

[2022-09-28 06:32] andrewbaxter opened #298 "Example link in readme 404s"
**Describe the bug**
The link to `https://github.com/durch/rust-s3/blob/master/s3/bin/simple_crud.rs` in the readme 404s, it doesn't appear to exist in the repo any more.

[2022-09-30 00:03] tomkarw commented on #278
@durch I did it, but now that I see it, I'm not sure if it's worth it. Your call.

[2022-10-02 15:36] andrewbaxter opened #300 "get_object_stream doesn't stream data"
**Describe the bug**
In sync mode, `get_object_stream` reads whole file into memory.  I'm working on a memory constrainted system and a large file (>1gb) leads to an OOM kill.

**To Reproduce**

**Expected behavior**

A reasonable buffer should be used for streaming.

**Environment**

**Additional context**

This seems very similar to https://github.com/durch/rust-s3/commit/a4fdbdec508a90e97fcd60d

[2022-10-03 06:03] durch commented on #300
Fixed by #301

[2022-10-03 06:03] #300 closed

[2022-10-03 20:48] Niedzwiedzw opened #302 "`NoSuchUpload` error for cloudflare's r2 (s3-compatible) for 33MB file when using `put_object_stream`"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
[code]
[code]
**Environment**
 - Rust version:
 〉rustc --version
rustc 1.66.0-nightly (9062b780b 2022-09-21)
 - lib version:
  rust-s3 = { version = "0.32.3", features = ["with-tokio"] }

**Additional context**
It used to work for DigitalOcean, but I've migrated so not sure if it's that or if it's some chang

[2022-10-03 21:05] Niedzwiedzw commented on #302
switching to "normal" upload (not-multipart) fixes the issue and it's fine for me

[2022-10-03 21:12] durch commented on #302
@Niedzwiedzw I've ran into this with tests, I'm not sure if R2 supports multipart upload, it might also be "too eventually consistent", so the upload parts don't get created by the time we check for them all

[2022-10-03 21:19] Niedzwiedzw commented on #302
it happens every time, and also I've asked on cloudflare's discord - they suggested it's to do with concurrency (max 2 uploads at a time)

[2022-10-04 18:25] pcrumley opened #303 "S3 Panics if given an empty region"
**Describe the bug**
The lines of code inside of s3 `request_trait.rs` have something listed as infallible. see below
[code]

However, it actually is fallible if the bucket is created with a region that is an empty string, in which case the bucket.url() starts with `:` which will panic with an `InvalidDomainCharacter` error from the Url crate.

**To Reproduce**
Create a bucket with an empty region

[2022-10-04 20:39] durch commented on #303
@pcrumley great catch, we should not panic, I'll fix this, and see where else I've been sloppy in the past :)

[2022-10-04 20:58] #303 closed

[2022-10-05 17:46] andrewbaxter opened #304 "Corrupt downloads (sync)"
**Describe the bug**
I was downloading a large (1gb) file, and the sha256 sums weren't matching up.  Post `zstd` extraction the file size was less than expected.

**To Reproduce**
Sorry, not quite minimal but
[code]
(Writer/Decoder are `zstd` here for decoding a zstd payload).

When doing an sha256sum on the output file I got the wrong sha256sum, and it was the wrong size.

**Expected behavior**
T

[2022-10-05 20:59] durch commented on #304
@andrewbaxter very interesting, could you test if the same thing occurs without zstd decoder, ie just stream the bytes as they are, the only thing I can think of is the io::copy doing something weird but that seems pretty unlikely...

[2022-10-05 21:23] durch commented on #304
@andrewbaxter can you try testing the `fix-sync-stream` branch, it uses native` attohttpc` `write_to` method, instead of `io::copy`

[2022-10-06 07:44] durch commented on #302
Interesting so do you think something like throttling R2 uploads would help?

[2022-10-07 14:34] Janrupf opened #305 "Async code may block"
**Describe the bug**
Some functions recently changed to only have fake async wrappers. For example `put_object_stream` is `async`, but takes a `std::io::Read`. This is a problem as it may cause blocking I/O in an async context (and generally API's are expected to take async I/O traits when being `async`).

The latest stream API's also don't really conform to the async API (streams returned by the

[2022-10-08 08:15] durch commented on #305
@Janrupf thank you for the detailed Report, exactly what I was hoping to get from this beta, will keep you posted

[2022-10-08 13:28] Janrupf commented on #305
The PR I created addresses the concerns with uploading by stream potentially blocking. However, I'm not entirely sure how to fix the download streams. In my fork I just reverted the stream rework and implemented access to content length using stream size hints, but this falls short because it doesn't expose other headers.

I have a suggest though: For the async API make a new trait, `S3ResponseStr

[2022-10-09 01:32] azzamsa commented on #298
Any update about this?
Minimal working example is very useful to start.

[2022-10-09 20:20] durch commented on #298
Added an examples folder, with a few variants and runtimes, hope it helps :)

[2022-10-09 20:20] #298 closed

[2022-10-11 09:29] azzamsa commented on #298
@durch I think it is better to put each example in cargo project.

So it is testable (CI), and easy to run.

I got this when running the example;

[code]

[2022-10-15 01:50] Frederik-Baetens commented on #302
Did some investigation into this:

I modified the source code to panic after initiating the multipart upload:

[code]

This way I can have a look at the ongoing multipart uploads being produced by the code.

The multipart uploads definitely exist & they're immediately visible in that dbg! call at the end of that code snippet. R2 is strongly consistent. Once you get confirmation of the MultipartUpl

[2022-10-15 20:39] durch commented on #302
@Frederik-Baetens thanks for digging in, I can’t say I have much inside, the only argument I have is that multipart uploads seem to work on s3, but not in r2, so there has to be some inconsistency. I’ll try and find some time to dig into this…

[2022-10-15 20:44] Frederik-Baetens commented on #302
I also noticed that the ongoing multipart uploads strip of the / at the beginning of the key. E.g. if i upload /hi, the multipart upload will just be for "hi". Could it be that some part of your code is stripping the /, and another is expecting it to always be there, with the expectation that the S3 compatible object storage implementation maps both versions to the same file?

[2022-10-15 21:09] durch commented on #302
That’s an interesting observation, encoding of slashes has been a contentious topic at one point, there even was a dedicated feature for handling it, I think you might be on to something here

[2022-10-24 20:38] ahicks92 opened #308 "Rust-s3 can send a Authorization and X-Amz-Date header with mismatching dates"
**Describe the bug**
A clear and concise description of what the bug is.

I have a CLI program to upload keys to Minio that's testing a bunch of logic that's unfortunately not standalone, so I'll get it standalone if we need it. I call `new_with_path_style` for minio, and create credentials with an access/secret key directly.  We get:

[code]

At first I thought it was a bug with Minio, but if we

[2022-10-24 20:46] ahicks92 commented on #308
Sorry, edited for a few typos and such. Not sure how I mismatched Credential and Authorization in my head while flipping windows. My bad.

[2022-10-24 22:13] ahicks92 commented on #308
here's a minimal repro program:

[code]

And minio is launched like this:

[code]

When I run it:

[code]

From the minio `mc admin trace`:

[code]

If I `mc cp` a file, we can see what it's sending, roughly:
[code]

And from the Minio trace for that:

[code]

[2022-10-25 07:29] durch commented on #308
@ahicks92 thanks for an in depth report, I'll find some time to look into this

[2022-10-29 17:30] drewkett commented on #278
One downside to this is that `hyper` doesn't respect proxy settings via environment variables and I believe `reqwest` does. I haven't tested `rust-s3` with `reqwest` but I'm currently using `rust-s3` explicitly because the `attohttpc` variant respects those environment variables out of the box and they're not supported by `aws-sdk` (nor `rusoto`) and it was easier to switch to `rust-s3` than figur

[2022-10-30 06:46] ash-hashtag opened #310 "How do I stream a file to a http response?"
I want to get a stream out of get_object_stream

[2022-11-04 03:42] Qwertie- commented on #106
This is very likely not the same issue but I had a problem with the same result. Problem was I needed to reset the pointer for the file with `file.seek(SeekFrom::Start(0)).await?;` before uploading.

[2022-11-05 12:12] Julio041891 opened #311 "Jcgp0418"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-08 22:56] Qwertie- opened #312 "*_with_content_type functions not setting content type on S3"
**Describe the bug**
It seems that the put_object_with_content_type and put_object_stream_with_content_type methods are not setting the content type for uploaded objects on S3

**To Reproduce**
A minimal test which shows the issue

[code]

**Expected behavior**
I would expect this to show image/jpeg on the AWS web ui but instead it shows
<img width="1080" alt="Screenshot 2022-11-09 at 09 24 35" sr

[2022-11-09 19:48] FKanzler commented on #310
Exactly what I also need

[2022-11-10 03:16] ash-hashtag commented on #310
I got it working with aws_sdk_s3 crate

[2022-11-10 03:16] #310 closed

[2022-11-11 12:07] KavikaPalletenne opened #315 "implementation of PutBucketCors"
Add function to add CORS rules to bucket - like this implementation in rusoto: https://rusoto.github.io/rusoto/rusoto_s3/trait.S3.html#tymethod.put_bucket_cors